.splitter-custom .p-splitter-panel {
    margin: 2.5rem;
  }
  
  .panel-custom {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    height: 100px;
    /* margin: 3rem; */
    /* width: 300px; */
  }
  
  .large-panels {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .large-panel {
    flex: 0 0 48%; /* שני הריבועים ייקחו כל אחד 48% מהרוחב הכולל */
    height: 300px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0.5rem;
  }
  /* גובה שונה עבור הפנל הראשון והפנל השני */
  /* .large-panel:first-of-type {
    height: 550px;
  }
  
  .large-panel:last-of-type {
    height: 550px; 
  } */
  /*  */
  .large-panel {
    flex: 0 0 48%; /* שני הריבועים ייקחו כל אחד 48% מהרוחב הכולל */
    height: 700px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0.5rem;
  }
  .l1 {
    height: 300px;
    border-radius: 5px;
    /* margin: 0.5rem; */
  }
  
  .extra-panel {
    margin-top: 1rem; /* רווח בין הפנלים */
    height: 550px; /* גובה התואם לפנל הגדול הראשון */
    /* background-color: #f0f0f0;  */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
  }
  /* ------------------------------- */
  .info-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    width: 250px;
    border: 1px solid #dfe1e5;
    direction: rtl; /* שינוי הכיוון לר"ת */
    margin: 1.2rem;
    cursor: pointer;
  
  }
  
  .info-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-card-header h2 {
    margin: 0;
    font-size: 1.25rem;
    color: #3c4043;
  }
  
  .info-card-header i {
    font-size: 2rem;
    color: #4285f4;
    background-color: #e8f0fe;
    border-radius: 50%;
    padding: 0.5rem;
  }
  
  .info-card-body {
    margin-top: 1rem;
    text-align: right;
  }
  
  .info-card-body h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #202124;
  }
  
  .info-card-body p {
    margin: 0;
    font-size: 1rem;
    color: #5f6368;
  }
  
  .new-orders {
    color: #34a853;
    font-weight: bold;
  }
  
  /* meterGroup */
  /* הסתרת אחוזי התצוגה הרגילים */
  /* הסתרת אחוזי התצוגה המקוריים */
  .custom-meter-group .p-progressbar-label {
    display: none;
  }
  
  /* עיצוב הערכים המותאמים אישית */
  .custom-meter-value {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  /* footer */
  
  /* .footer {
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
  } */
  
  /*  */
  /* עיצוב לדיב עם התמונה */
  /* .image-container {
    width: 30%;
    height: 100px;
    align-items: center;
    background-image: url('../../assets/image/logo.gif');
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
    margin: 3rem;
    background-color: #f0f0f0;
    margin-left: 50%;
  } */

  /*  */
  .c canvas{
    height: 50px !important;
    width: 100% !important;
  }
  
  .chart-container {
    width: 80%;
    height: 50px;
  }
  
  .chart {
    height: 100% !important;
  }
  
  .chart canvas {
    height: 100% !important;
    width: 100% !important;
  }
   
  /*  */

  .footer {
    display: flex;
    justify-content: space-between; /* דוחף את התמונה והכפתור לקצוות הנגדיים */
    align-items: center; /* מיישר את התוכן למרכז אנכית */
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    padding: 1rem; /* הוסיף ריפוד כדי לשפר את המראה */
    box-sizing: border-box; /* כולל את הריפוד במידות הדיב */
    margin-bottom:3%;
  }
  
  .image-container {
    width: 30%;
    height: 100px;
    background-image: url('../../assets/image/logo.gif');
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0;
  }
  
  .feedback-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* מיקם את הכפתור בצד השמאלי של הקונטיינר */
  }
  
  .feedback-button {
    background-color: black; /* צבע הרקע של הכפתור */
    color: white; /* צבע הטקסט של הכפתור */
    border: none; /* ללא גבול סביב הכפתור */
    margin-bottom: 5px; /* הוסיף רווח קטן מתחת לכפתור */
    font-size: 16px; /* גודל טקסט של הכפתור */
    border-radius: 50%;
  }
  
  .emoji-container {
    position: absolute;
    bottom: 100%; /* מציב את האימוגים מעל הכפתור */
    left: 0;
    display: flex;
    gap: 5px;
    /* background: white;  */
    padding: 5px;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    z-index: 1000;
    display: none; /* התחל עם display: none כדי להסתיר את התוכן */
  }
  
  .feedback-container:hover .emoji-container,
  .feedback-button.active + .emoji-container {
    display: flex; /* הצג את התוכן כאשר ריחפים על הכפתור או בעת לחיצה */
  }
  
  .emoji-button {
    background: none;
    border: none;
    font-size: 30px; /* גודל טקסט של האימוגים */
    cursor: pointer;
    border: none;
  }
  .emoji-button:hover {
    transform: scale(1.2); /* הגדלה של האימוגי ב-20% בעת ריחוף */
  }
  