   .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea.form-control {
    resize: vertical;
    min-height: 100px;
  }
  .container {
    margin-top: 20px;
  }
  
  .my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .p-grid {
    margin: 20px;
  }

  .p-field {
    margin-bottom: 20px;
  }

  .p-inputtext,
  .p-textarea {
    border-radius: 5px;
  }

  .p-button {
    border-radius: 10px;
  }

  .form-background {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  