<p-button (click)="goBack()" label="חזור"></p-button>

<div class="form-container">
  <div class="icon-container">
    <div class="year-icon">{{ responseData.yearReport }}</div>
  </div>

  <div class="details-container">
    <p class="highlight">תאריך יצירה: <span class="value">{{ responseData.dateTime | date }}</span></p>
    <p class="highlight">מקדמה ששולמה: <span class="value">{{ responseData.paymentAmountPaid }}</span></p>
    <p class="highlight">יתרה לתשלום: <span class="value">{{ responseData.balanceDue }}</span></p>
    <p class="highlight">מחיר: <span class="value">{{ responseData.price }}</span></p>
    <p class="highlight">עבור: <span class="value">{{ responseData.entityType }}</span></p>
  </div>

  <p-stepper dir="rtl">
    <ng-container *ngFor="let stepNumber of stepNumbers">
      <p-stepperPanel>
        <ng-template pTemplate="content">
          <div class="flex flex-column h-12rem">
            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex flex-column align-items-center font-medium">
              <div *ngFor="let task of stepsByNumber[stepNumber]">
                <div class="checkbox-wrapper">
                  <label>
                    <input type="checkbox" [(ngModel)]="task.isCompleted" (change)="update(task)" />
                    {{ task.value }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
    </ng-container>
  </p-stepper>

  <div class="buttons-container">
    <p-button (click)="submitChanges()" label="שלח שינויים"></p-button>
    <p-button (click)="goToUpdate()" label="עריכת פרטי דוח בסיסי"></p-button>
  </div>
</div>
