.flex {
    direction: rtl; /* Right-to-left layout */
}
.checkbox-wrapper {
    border: 1px solid #ccc; /* צבע מסגרת */
    border-radius: 5px; /* עגלול את הפינות */
    padding: 10px; /* רווח פנימי */
    margin: 5px 0; /* רווח בין תיבות */
    width: 100%; /* תן רוחב מלא */
    text-align: right; /* טקסט מימין */
}
:host ::ng-deep.completed .p-stepper-number {
    background-color: green; /* Change to your desired color */
    color: white; /* Change text color if needed */
  }
  :host ::ng-deep.completed-step {
    background-color: yellow; /* צבע רקע צהוב לשלבים מושלמים */
    color: black; /* צבע טקסט שחור */
  }
  
  :host ::ng-deep.incomplete-step {
    background-color: gray; /* צבע רקע אפור לשלבים לא מושלמים */
    color: white; /* צבע טקסט לבן */
  }
  