
<div class="card flex justify-content-center">
    <!-- <p-button label="show"></p-button><br> -->
    <p-button (click)="showDialog()" label="צור שדה חדש" />

    <p-dialog header="ערוך שדה" 
              [modal]="true"
              [(visible)]="visible" 
              [style]="{ width: '20 rem' ,height: '400px' }">
        <app-custom-field (closePopup)="onClosePopup()"></app-custom-field>
        
       
    </p-dialog>
  
    <p-confirmDialog header="מחיקה סופית" icon="pi pi-exclamation-triangle" [visible]="vD">
        <p-footer>
            <button type="button" pButton icon="pi pi-times" label="ביטול" class="p-button-text"
                (click)="cancelDelete()"></button>
            <button type="button" pButton icon="pi pi-check" label="מחיקה" class="p-button-text"
                (click)="confirmDelete()"></button>
        </p-footer>
    </p-confirmDialog>
 
<p-table [value]="fields" [tableStyle]="{'min-width': '60rem'}"  >
    <ng-template pTemplate="caption">
       
    </ng-template>
    <ng-template pTemplate="header" dir="rtl" >
        <tr >
            <th >שם השדה</th>
            <th >סוג השדה</th>
            <td>           </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-field>
        <tr>
            <td>{{field.key}}</td>
            <td >{{field.type}}</td>
            <td>
                <i (click)="deletepopup(field._id)" class="pi pi-trash" style="color: red;cursor: pointer;"></i>

            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between" id="text">
            קיימים  {{fields ? fields.length : 0 }} שדות .
        </div>
    </ng-template>
</p-table>
