<div>
    <button pButton  (click)="showDialog()" label="צור שדה חדש" class= "p-button-text p-button-raised p-button-rounded"></button>

    <p-dialog header="ערוך שדה" [modal]="true" [(visible)]="visible" [style]="{ width: '20 rem' ,height: '400px' }">
        <app-custom-field (closePopup)="onClosePopup()"></app-custom-field>
    </p-dialog>

    <p-confirmDialog header="מחיקה סופית" icon="pi pi-exclamation-triangle" [visible]="vD">
        <p-footer>
            <button type="button" pButton icon="pi pi-times" label="ביטול" class="p-button-text p-button-raised p-button-rounded"
                (click)="cancelDelete()"></button>
            <button type="button" pButton icon="pi pi-check" label="מחיקה" class="p-button-text p-button-raised p-button-rounded"
                (click)="confirmDelete()"></button>
        </p-footer>
    </p-confirmDialog>

    <p-table [value]="fields" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>שם השדה</th>
                <th>סוג השדה</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-field let-columns="columns">
            <tr (click)="selectCurrentField(field)" [ngClass]="{ 'highlight': currentField === field }">
                <td>{{field.key}}</td>
                <td>{{field.type}}</td>
                <!-- <td><button pButton  styleClass="dbtn" severity="danger" (click)="deletepopup(field._id)"> 
                <span class="px-3">מחק</span> 
                <i class="pi pi-trash"></i>
            </button ></td> -->
                <td>
                    <button *ngIf="currentField === field" pButton
                        class="pi pi-trash p-button-outlined p-button-rounded p-button-danger"
                        (click)="deletepopup()"></button>
                </td>
            </tr>
        </ng-template>

        <!-- <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" id="text">
                קיימים {{fields ? fields.length : 0 }} שדות .
            </div>
        </ng-template> -->
    </p-table>
</div>