/* @import "primeicons/primeicons.css"; */
.input-container {
    display: flex;
    align-items: center;
  }
  
  .input-container input {
    flex: 1;
  }

  :host ::ng-deep .p-fileupload .p-fileupload-content{
    display: none;
   
  }

  :host ::ng-deep .p-fileupload .p-fileupload-buttonbar {
    /* display: none !important; */
   background-color: none;
   padding: 0%;
   border: 0cm;
   background: none;
  }


  :host ::ng-deep span.p-ripple.p-element.p-button.p-component.p-fileupload-choose.ng-star-inserted{
    margin-top:1cm;
  }
  
  
  /* .add-button {
    margin-left: 8px !important;
    padding: 0 8px !important;
    font-size: 6px !important;
    height: 12px !important;
    width: 12px !important;
    line-height: 12px !important;
  }
  
  .add-button .pi {
    font-size: 6px ;
  }
  .p-button-sm.add-button {
    padding: 0 4px !important;
    font-size: 10px !important;
    height: 12px !important;
    width: 12px !important;
    line-height: 12px !important;
  }
  .p-button-sm.add-button .pi {
    font-size: 10px !important;
  } */
  
  