<p-fileUpload
name="file"
[customUpload]="true"
(uploadHandler)="upload($event)"
[style]="{'margin-bottom': '20px'}"
[auto]="true"
chooseIcon="pi pi-cloud-upload"
chooseLabel=" ">
</p-fileUpload>
<p-dropdown 
    [options]="DocTypes" 
    [(ngModel)]="selectedType" 
    optionLabel="name" 
    placeholder="פתח בתקיה">
    <ng-template pTemplate="footer">
        <div class="p-fluid">
            <div class="input-container">
             <input type="text" pInputText [(ngModel)]="newTypeName" placeholder="הוסף תקיה חדשה" (click)="$event.stopPropagation()" (keydown.enter)="addItem($event)">
            <!-- <div class="p-field"> -->
              <button type="button" icon="pi pi-plus" (click)="addItem($event)" [style]="{'margin-left': '8px',
                }"
              ></button>
            <!-- </div> -->
          </div>
        </div>
      </ng-template>
</p-dropdown>