<!-- ----------------------------- -->

<div class="card" style="max-width: 50rem">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <!-- avatar -->
        <span class="font-bold">
          {{ isNew ? 'יצירת סוג לקוח חדש' : type?.name }}
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div
        class="flex flex-wrap align-items-center justify-content-between gap-3"
      >
        <div class="flex align-items-center gap-2">
          <!-- x -->
          <button pButton 
            (click)="closeDialogInner()"
            label="ביטול"
            icon="pi pi-times"
            rounded="true"
            text="true"
            severity="secondary"
            class= "p-button-text p-button-raised p-button-rounded"
          ></button>
          <!-- v -->
          <button pButton 
            (click)="save()"
            label="שמירה"
            icon="pi pi-check"
            rounded="true"
            text="true"
            class= "p-button-text p-button-raised p-button-rounded"
          ></button>
        </div>
        <!-- <span class="p-text-secondary"> לשמירת השינויים </span> -->
      </div>
    </ng-template>
    <div class="m-0">
      <div class="card flex justify-content-center">
        <input type="text" pInputText [(ngModel)]="value" />
      </div>
      <p>משימות</p>
      <div style="width: 100%; display: flex; align-items: center">
        <i
          class="pi pi-plus"
          style="
            font-size: 2rem;
            margin-right: 10px;
            cursor: pointer;
            color: blue;
          "
          [routerLink]="['/taskSpe/create']"
        ></i>

        <div style="width: 100%">
          <p-multiSelect
            [style]="{
              flex: '1 1 auto',
              'min-width': '100%',
              'max-width': '20rem'
            }"
            [options]="tasks"
            [(ngModel)]="selectedTask"
            optionLabel="taskName"
            placeholder="בחר משימות"
          >
            <ng-template
              style="display: flex"
              let-user
              pTemplate="selectedItems"
            >
              <div *ngIf="selectedTask.length < 1">
                {{ selectedTask.length < 1 && 'בחר משימות' }}
              </div>

              <div
                class="selected-items-container"
                style="display: flex; max-width: 20rem"
              >
                <div
                  *ngFor="let t of selectedTask"
                  class="selected-item"
                  style="margin-right: 10px"
                >
                  ,{{ t.taskName }}
                </div>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
      </div>

      <p-divider />
      <p>שדות</p>

      <div style="width: 100%; display: flex; align-items: center">
        <i
          class="pi pi-plus"
          style="
            font-size: 2rem;
            margin-right: 10px;
            cursor: pointer;
            color: blue;
          "
          [routerLink]="['/taskSpe/create']"
        ></i>

        <div style="width: 100%">
          <p-multiSelect
            [style]="{ flex: '1 1 auto', 'min-width': '100%' }"
            [options]="fields"
            [(ngModel)]="selectedField"
            optionLabel="key"
            placeholder="בחר שדות"
          />
        </div>
      </div>
      <p-divider />
    </div>
  </p-panel>
</div>
