<div style="margin-top: 2%; margin-bottom: 2%" class="card">
  <div style="display: flex">
    <div [routerLink]="['/employeesTable']" class="info-card p-shadow-2">
      <div class="info-card-header">
        <h2>עובדים</h2>
        <i class="pi pi-user"></i>
      </div>
      <div class="info-card-body">
        <h1>{{ users.length }}</h1>
        <p>
          <span style="color: rgb(56, 56, 160)" class="new-orders">
            {{ users.length }} </span
          >עובדים בחברה
        </p>
      </div>
    </div>
    <div [routerLink]="['/tasks']" class="info-card p-shadow-2">
      <div class="info-card-header">
        <h2>משימות</h2>
        <i style="color: orange" class="pi pi-list"></i>
      </div>
      <div class="info-card-body">
        <h1>{{ tasks.length }}</h1>
        <p>
          <span style="color: orange" class="new-orders">{{ newTask() }} </span
          >משימות צריכות להסתיים היום
        </p>
      </div>
    </div>
    <div [routerLink]="['/clientSearch']" class="info-card p-shadow-2">
      <div class="info-card-header">
        <h2>לקוחות</h2>
        <i class="pi pi-users"></i>
      </div>
      <div class="info-card-body">
        <h1>{{clients && clients.length }}</h1>
        <p>
          <span style="color: rgb(56, 56, 160)" class="new-orders">{{
            todayClient()
          }}</span>
          לקוחות חדשים מהיום
        </p>
      </div>
    </div>
    <div [routerLink]="['/calendar']" class="info-card p-shadow-2">
      <div class="info-card-header">
        <h2>פגישות</h2>
        <i style="color: green" class="pi pi-comments"></i>
      </div>
      <div class="info-card-body">
        <h1>{{ meets.length }}</h1>
        <p>
          <span class="new-orders">{{ todayMeet() }}</span> פגישות נקבעו להיום
        </p>
      </div>
    </div>
  </div>
  <div class="large-panels">
    <div class="large-panel">
      <div style="width: 100%; height: 100%" class="card">
        <h2 style="padding-right: 1rem; font-size: 1.25rem; color: #3c4043">
          פילוח תשלומים חודשי
        </h2>
        <p-chart
          style="height: 100px"
          type="line"
          [data]="data"
          [options]="options"
        />
      </div>
    </div>
    <div class="large-panel">
      <div style="width: 100%; height: 100%" class="card">
        <div class="l1">
          <h2 style="padding-right: 1rem; font-size: 1.25rem; color: #3c4043">
            פילוח משימות לפי סטטוס
          </h2>
          <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
        </div>

        <div class="extra-panel">
          <div style="width: 100%; height: 100%" class="card">
            <h2 style="padding-right: 1rem; font-size: 1.25rem; color: #3c4043">
              העובדים המצטיינים
            </h2>
            <div class="card">
              <p-meterGroup [value]="valueUser1" />
            </div>
            <div class="card">
              <p-meterGroup [value]="valueUser2" />
            </div>
            <div class="card">
              <p-meterGroup [value]="valueUser3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<div class="footer">
  <div class="image-container"></div>
</div>
