.splitter-custom .p-splitter-panel {
  margin: 2.5rem;
}

.panel-custom {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 5px;
  height: 100px;
  /* margin: 3rem; */
  /* width: 300px; */
}

.large-panels {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.large-panel {
  flex: 0 0 48%; /* שני הריבועים ייקחו כל אחד 48% מהרוחב הכולל */
  height: 300px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0.5rem;
}
/* גובה שונה עבור הפנל הראשון והפנל השני */
/* .large-panel:first-of-type {
  height: 550px;
}

.large-panel:last-of-type {
  height: 550px; 
} */
/*  */
.large-panel {
  flex: 0 0 48%; /* שני הריבועים ייקחו כל אחד 48% מהרוחב הכולל */
  height: 565px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0.5rem;
}
.l1 {
  height: 300px;
  border-radius: 5px;
  /* margin: 0.5rem; */
}

.extra-panel {
  margin-top: 1rem; /* רווח בין הפנלים */
  height: 550px; /* גובה התואם לפנל הגדול הראשון */
  /* background-color: #f0f0f0;  */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}
/* ------------------------------- */
.info-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 250px;
  border: 1px solid #dfe1e5;
  direction: rtl; /* שינוי הכיוון לר"ת */
  margin: 1.2rem;
  cursor: pointer;

}

.info-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card-header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #3c4043;
}

.info-card-header i {
  font-size: 2rem;
  color: #4285f4;
  background-color: #e8f0fe;
  border-radius: 50%;
  padding: 0.5rem;
}

.info-card-body {
  margin-top: 1rem;
  text-align: right;
}

.info-card-body h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #202124;
}

.info-card-body p {
  margin: 0;
  font-size: 1rem;
  color: #5f6368;
}

.new-orders {
  color: #34a853;
  font-weight: bold;
}

/* meterGroup */
/* הסתרת אחוזי התצוגה הרגילים */
/* הסתרת אחוזי התצוגה המקוריים */
.custom-meter-group .p-progressbar-label {
  display: none;
}

/* עיצוב הערכים המותאמים אישית */
.custom-meter-value {
  margin-top: 1rem;
  font-size: 1rem;
}

/* footer */

.footer {
  background-color: #f0f0f0;
  text-align: center;
  /* margin: 2rem; */
  width: 100%;
}

/*  */
/* עיצוב לדיב עם התמונה */
.image-container {
  width: 30%;
  height: 100px;
  align-items: center;
  background-image: url('../../assets/image/logo.gif');
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  margin: 3rem;
  background-color: #f0f0f0;
  margin-left: 50%;
}
