@import '../../../styles.css';

.p-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-bottom: 2%;
} 

#mainContainer {
  direction: rtl;
}

.p-col {
  flex: 1;
  margin: 0 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.custom-button {
  margin: 5px;
  padding: 5px 10px;
  /* Smaller padding */
  border: none;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px;
  /* Smaller font size */
  line-height: 1.2;
  /* Adjust line height if needed */
}

/* .filter-container>div { */
  /* margin-bottom: 10px; */
/* } */

.filter-container label {
  display: block;
  margin-bottom: 5px;
}

/* .filter-panel {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* #addBtn, #float-input, #disabled-btn, .p-button {
  width: 100%;
  max-width: 200px; /* Adjust as needed 
  margin-bottom: 10px;
} */