body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  /* מציב את הכפתורים בצד ימין */
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.container {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.b {
  margin-bottom: 10px;
  /* נותן רווח קטן בין הכפתורים */
}

.content {
  flex: 1;
  margin-right: 20px;
  /* נותן רווח קטן מהצד הימני של המסך */
  /* width: 100px;
  height: 30px; */
}

.profile {
  text-align: left;
  width: 20%;
}