<app-client-profile></app-client-profile>
<div class="b">
<p-button class="b" label="שיחות" [link]="true" (click)="navigateTo('clientCommunicationLogs')"></p-button>
<p-button class="b" label="מסמכים" [link]="true"(click)="navigateTo('clientUploadDoc')"></p-button>
<p-button class="b" label="משימות"[link]="true" (click)="navigateTo('clientTaskManagement')"></p-button>
<p-button class="b" label="תשלום" [link]="true"(click)="navigateTo('clientBillings')"></p-button>
<p-button class="b" label="דוחות חודשיים" [link]="true"(click)="navigateTo('monthlyReport')" ></p-button>
<p-button class="b" label="הצהרת הון" [link]="true"(click)="navigateTo('financialStatement')"></p-button>
<p-button class="b" label="החזרי מס\שבח"[link]="true" (click)="navigateTo('taxRefunds')"></p-button>
<p-button class="b" label="פרטי לקוח" [link]="true"(click)="navigateTo('clientTypeTab')"></p-button>
<p-button class="b" label="דוחות שנתיים"[link]="true" (click)="navigateTo('yearlyReport')" ></p-button> 
</div>
<router-outlet></router-outlet>


