<!-- <div class="container"> -->
<!-- Dropdown to select Client Type -->
<!-- <p-dropdown
    [options]="clientTypes"
    [(ngModel)]="selectedClientType"
    optionLabel="name"
    placeholder="רשימת סוגי לקוחות"
    (onChange)="showDetails()"
  >
  </p-dropdown> -->

<!-- Details Panel -->
<!-- <div *ngIf="selectedClientType" class="details-panel">
    <h3>{{ selectedClientType.name }}:פרטי</h3>
    <ul>
      <li>{{ selectedClientType.name }}<strong>:שם</strong></li>
      <li>
        <strong>:משימות</strong>
        <ul>
          <li *ngFor="let task of selectedTasks">{{ task.taskName }}</li>
        </ul>
      </li>
      <li>
        <strong>:שדות</strong>
        <ul>
          <li *ngFor="let field of selectedClientType.fields">
            {{ field.key }}: {{ field.type }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div> -->

<!-- ====================================== -->
<div style="margin-right: -17%">
  <p-avatar
    styleClass="mr-7"
    [style]="{
  backgroundColor: '#2196F3',
  color: '#fff',
  width: '50px',
  height: '50px',
  cursor: 'pointer',
}"
    shape="circle"
    class="avatar"
    pTooltip="הוספת סוג"
    showDelay="1000"
    hideDelay="300"
    icon="pi pi-plus"
    (click)="onAvatarClick()"
  ></p-avatar>
</div>

<div class="table-container" style="text-align: right">
  <div class="card" style="width: 25rem; margin-left: 70%; margin-top: 1%">
    <p-table
      [value]="clientTypes"
      [tableStyle]="{ 'min-width': '25rem', 'max-width': '25rem' }"
    >
      <ng-template pTemplate="header" style="text-align: left">
        <tr>
          <th>מחיקה</th>
          <!-- <th>עריכה</th> -->
          <th>שם</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-type style="text-align: right">
        <tr>
          <td style="text-align: right">
            <i
              class="pi pi-trash"
              style="color: red; cursor: pointer"
              (click)="confirmDelete(type)"
            ></i>
          </td>
          <!-- <td style="text-align: right">
            <i
              class="pi pi-pencil"
              style="color: blue; cursor: pointer"
              (click)="showDialog(type)"
            ></i>
          </td> -->

          <td style="text-align: right">
            <a (click)="showDialog(type)">{{ type.name }}</a>
            <i
              class="pi pi-pencil"
              style="color: blue; cursor: pointer; margin-left: 2%"
              (click)="showDialog(type)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Dialog Delete -->
  <p-dialog
    header="?האם למחוק"
    [(visible)]="displayDeleteDialog"
    modal="true"
    [style]="{ width: '400px' }"
  >
    <p>האם אתה בטוח שברצונך למחוק את {{ selectedDeleteType?.name }}</p>
    <p-footer>
      <button
        pButton
        type="button"
        label="ביטול"
        icon="pi pi-times"
        class= "p-button-secondary"
        (click)="cancelDelete()"
        style="margin-right: 0.5em"
      ></button>
      <button
        pButton
        type="button"
        label="מחק"
        icon="pi pi-trash"
        class= "p-button-danger"
        (click)="deleteType()"
        style="margin-left: 0.5em"
      ></button>
    </p-footer>
  </p-dialog>
  <!-- Dialog -->
  <p-dialog
    header="פרטי סוג"
    [(visible)]="displayDialog"
    [style]="{ width: '30rem', left: '-10%', right: 'auto' }"
  >
    <div>
      <!-- <p>שם: {{ selectedType.name }}</p> -->
      <!-- <div *ngIf="!newC">
        <app-type-client-create
          *ngIf="selectedType"
          style="margin-right: 50%"
          [type]="selectedType"
          (closeDialog)="handleCloseDialog()"
        ></app-type-client-create>
      </div>

      <div *ngIf="newC">
        <app-type-client-create
          style="margin-right: 50%"
          [type]="newClient"
          [isNew]="create"
          (closeDialog)="handleCloseDialog()"
        ></app-type-client-create>
      </div> -->
      <app-type-client-create
        [type]="selectedType"
        [isNew]="newC"
        (closeDialog)="handleCloseDialog()"
        (dataUpdated)="handleDataUpdated()"
      ></app-type-client-create>

      <!-- הוסף פרטים נוספים כרצונך -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </p-dialog>
</div>

<!-- ========================================================= -->

<!-- <div class="table-container" style="text-align: right;">
  <div class="card" style="width: 30rem; margin-left: auto;">
    <p-table [value]="clientTypes" [tableStyle]="{ 'min-width': '30rem', 'max-width': '30rem'}">
      <ng-template pTemplate="header">
        <thead style="flex-direction: row-reverse;">
          <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
      </ng-template>
      <ng-template pTemplate="body" let-type>
        <tr>
          <td>{{ type.name }}</td>
          <td>
            <i class="pi pi-pencil" style="color: blue; cursor: pointer"></i>
          </td>
          <td>
            <i class="pi pi-trash" style="color: red; cursor: pointer"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div> -->
