<div>
<input class="buttons" id="float-input" pInputText type="text" placeholder="שם השדה" [(ngModel)]="fieldName" >
<br>
<p-dropdown 
    [options]="whatType" 
    [(ngModel)]="selectedType" 
    optionLabel="name" 
    placeholder="סוג השדה" 
    
   
/>
<p-messages 
    [(value)]="messages" 
    [enableService]="false" 
    [closable]="false" />

 <br>
<p *ngIf="v==true">חסרים פרטים</p>
<button pButton type="button" icon="pi pi-plus"
 label="הוסף" (click)="createField()" class= "p-button-text p-button-raised p-button-rounded"></button >
</div>
