<!-- Background Section -->
<div style="margin-top: -15%" class="background-section">
  <div style="margin-bottom: 10%" class="text-container">
    <h3>
      יועץ מס מנוסה המציע שירותי תכנון מס מקצועיים ומותאמים אישית לעסקים
      וליחידים. עם התמחות בחיסכון מיסויי ועמידה בדרישות החוק, אנחנו כאן כדי
      .לדאוג לעסק שלך בצורה הטובה ביותר
    </h3>
    <p></p>
  </div>
</div>
<br /><br />
<!-- Contact Section -->
<div style="width: 100%" class="contact-section">
  <div class="contact-details">
    <p>
      <a [href]="'tel:+972722200200'">
        <p-chip
          class="chip-spacing"
          icon="pi pi-phone"
          label="0722-200-200"
        ></p-chip>
      </a>

      <a [href]="'mailto:smarttax@gmail.com'">
        <p-chip
          class="chip-spacing"
          icon="pi pi-envelope"
          label="smarttax@gmail.com"
        ></p-chip>
      </a>

      <a
        [href]="
          'https://www.google.com/maps/search/?api=1&query=שלמה+בן+יוסף+12,+בני+ברק'
        "
        class="map-link"
      >
        <p-chip
          class="chip-spacing"
          icon="pi pi-address-book"
          label="שלמה בן יוסף 12 בני ברק"
        ></p-chip>
      </a>
    </p>
  </div>
  <h1>ליצירת<span class="underline"></span> קשר</h1>
</div>

<br />

<!--  -->
