.search-container {
  margin-bottom: 100%;
 
}


.search-results {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;
  
}
.my{
  display: flex;
  flex-direction: row;
 
}
.my3{
  direction: rtl;
  display:flex;
  flex-direction: row;
 
}
.my{
 width: 160rem;
 height: 50px;
 margin-left: 4%;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}
:host ::ng-deep .p-autocomplete-dd .p-autocomplete-input
{
  width:56rem;
}
.search-results li {
  cursor: pointer;
  padding: 5px;
}
:host ::ng-deep .container {
 width: 100%;
 
}
.search-results li:hover {
  background-color: #f0f0f0;
}

.styleCliennt {
  text-align: center;
  margin: 2%;
  margin-left: 45%;
}
th,td {
  text-align: center;
}


