.search-container {
  margin-bottom: 20px;
}

.search-results {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results li {
  cursor: pointer;
  padding: 5px;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

.styleCliennt {
  text-align: center;
  margin: 2%;
  margin-left: 45%;
}
.button.p-button {
  /* Your custom styles here */
  background-color: red ; /* Example */
  color: white ; /* Example */
  border-color: blue ; /* Example */
}
