@import '../../../../styles.css'; 
.search-container {
  margin-bottom: 100%;

}


.search-results {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;

}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

:host ::ng-deep .p-autocomplete-dd .p-autocomplete-input {
  width: 8rem;
}

.p-inputmask {
  width: 100%;
  padding: .75rem;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

.search-results li {
  cursor: pointer;
  padding: 5px;
}

:host ::ng-deep .container {
  width: 100%;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

.styleCliennt {
  text-align: center;
  margin: 2%;
  margin-left: 45%;
}

.clickable-text {
  cursor: pointer;
  transition: transform 10s;
}

.clickable-text:hover {
  transform: scale(10.10);
  color: rgb(88, 74, 244);
}

:host ::ng-deep input {
  width: 8rem;
  height: 2rem;
}
.table{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}