@import '../../../../styles.css'; 
.search-container {
  margin-bottom: 100%;

}


.search-results {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;

}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

:host ::ng-deep .p-autocomplete-dd .p-autocomplete-input {
  width: 8rem;
}

.p-inputmask {
  width: 100%;
  padding: .75rem;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

.search-results li {
  cursor: pointer;
  padding: 5px;
}

:host ::ng-deep .container {
  width: 100%;

}

.search-results li:hover {
  background-color: #f0f0f0;
}

.styleCliennt {
  text-align: center;
  margin: 2%;
  margin-left: 45%;
}

th,
td {
  text-align: center;
}

.clickable-text {
  cursor: pointer;
  transition: transform 10s;
}

.clickable-text:hover {
  transform: scale(10.10);
  color: rgb(9, 9, 9);
}

.highlight {
  background-color: #edecec;
}

.p-button-rounded {
  border-radius: 20%;
  margin: 1%;
}

:host ::ng-deep input {
  width: 8rem;
  height: 2rem;
}

/* :host ::ng-deep.p-button:not(:disabled) {
  color: rgb(233, 35, 35);

} */

/* .p-button {
  margin: 1rem;
} */

/* .custom-table {
  background-color: cornflowerblue;
  color: brown;
    max-width: 100%; 
    overflow-x: hidden; 
} */

/* :host ::ng-deep .p-table {
  width: 100%;
  color: chartreuse;
  background-color: blueviolet;
}

#c{
  background-color: coral;
}

:host ::ng-deep .w{
  background-color: aqua;
}

.o{
  background-color: brown;
} */