<h1 (click)="onSelectionChange(1)">רשימת שיחות</h1>
<h1>מיין לפי</h1>
<select (change)="onSelectionChange($event)">
  <option value="option1">כל השיחות</option>
  <option value="option5">נושא שיחה </option>
  <option value="option2">שם לקוח</option>
  <option value="option3">תאריך</option>
  <option value="option4">סוג שיחה</option>

</select>
<input *ngIf="isSelected == 2" type="text" placeholder="client" [(ngModel)]="filtername"
  (input)="filterClientsByname()" />
<input *ngIf="isSelected == 3" type="date" placeholder="date" [(ngModel)]="filterdate" (input)="filterByDate()" />
<input *ngIf="isSelected == 4" type="text" placeholder="Status" [(ngModel)]="filterstatus" (input)="filterByStatus()" />
<div *ngIf="isSelected == 5 ">
  <select [(ngModel)]="selectedCallTopic" (change)="filterByCallTopic($event)">
    <option *ngFor="let topic of callTopics" [value]="topic.name">{{ topic.name }}</option>
  </select>
</div>

<h3>שיחות</h3>

<p-table [value]="isSelected != 1 && isSelected != 0 ? filteredCommunicatio : communications">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th>
        <span (click)="onSelectionChange(4)">סוג השיחה</span>
        <div>
          <input *ngIf="isSelected == 4" type="text" class="filter-input" [(ngModel)]="filterstatus"
            (input)="filterByStatus()">
        </div>
      </th>
      <th>
        <span (click)="onSelectionChange(2)">שם לקוח</span>
        <div>
          <input *ngIf="isSelected == 2" type="text" class="filter-input" [(ngModel)]="filtername"
            (input)="filterClientsByname()">
        </div>
      </th>
      <th>
        <span (click)="onSelectionChange(3)">תאריך</span>
        <div>
          <input *ngIf="isSelected == 3" type="date" class="filter-input" [(ngModel)]="filterdate"
            (input)="filterByDate()">
        </div>
      </th>
      <th>
        <span (click)="onSelectionChange(5)">נושא שיחה</span>
        <div *ngIf="isSelected == 5 ">
          <select [(ngModel)]="selectedCallTopic" (change)="filterByCallTopic($event)">
            <option *ngFor="let topic of callTopics" [value]="topic.name">{{ topic.name }}</option>
          </select>
        </div>
      </th>
      <th>סיכום</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-communication>
    <tr (click)="selectCurrentCommunication(communication)"
      [ngClass]="{ 'highlight': currentCommunication === communication }">
      
      <td><button *ngIf="currentCommunication === communication" pButton
          class="pi pi-pencil p-button-outlined p-button-rounded p-button-warning"
          (click)="selectCommunication(this.currentCommunication); showConfirmationEdit()"></button>
        <button *ngIf="currentCommunication === communication" pButton
          class="pi pi-trash p-button-outlined p-button-rounded p-button-danger"
          (click)="showConfirmationDelete()"></button>
      </td>
      <td *ngIf="communication.Status === 'true'">ליד</td>
      <td *ngIf="communication.Status === 'false'">מעקב</td>
      <td>{{communication.client}}</td>
      <td>{{communication.date | date: 'dd-MM-yyy' }}</td>
      <td>{{communication.Subject}}</td>
      <td>{{communication.summary}}</td>
    </tr>
  </ng-template>
</p-table>


<p-confirmDialog header="Confirmation" key="delete">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Cancel" class="p-button-text"
      (click)="cancelDelete()"></button>
    <button type="button" pButton icon="pi pi-check" label="Delete" class="p-button-text"
      (click)="confirmDelete()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog header='עריכת שיחה' key="edit">
  <p-footer>
    <div *ngIf="selectedCommunication" class="p-grid">
      <form (ngSubmit)="updateCommunication()" class="form-background">
        <div class="p-field">
          <label for="editClientName">Client Name</label>
          <input type="text" class="p-inputtext" id="editClientName" [(ngModel)]="selectedCommunication.client"
            name="editClientName" required>
        </div>
        <div class="p-field">
          <label for="editDate">Date</label>
          <input type="date" class="p-inputtext" id="editDate" [(ngModel)]="selectedCommunication.date" name="editDate"
            required>
        </div>
        <div class="p-field">
          <label for="editSubject">Subject</label>
          <input type="text" class="p-inputtext" id="editSubject" [(ngModel)]="selectedCommunication.Subject"
            name="editSubject" required>
        </div>
        <div class="p-field">
          <label for="editSummary">Summary</label>
          <textarea class="p-textarea" id="editSummary" [(ngModel)]="selectedCommunication.summary" name="editSummary"
            rows="3" required></textarea>
        </div>
        <div class="p-field">
          <label for="editAssignedTo">Assigned To</label>
          <p-dropdown [options]="users" [(ngModel)]="selectedCommunication.assignedTo" name="editAssignedTo"
            optionLabel="label" placeholder="Select an assigned user"></p-dropdown>
        </div>
        <button type="submit" class="p-button">Update Communication</button>
      </form>
    </div>
  </p-footer>
</p-confirmDialog>