<p-dialog header="" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [closable]="true"
  (onHide)="onClose()">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="p-grid">
        <h2 class="p-my-4">צור תקשורת חדשה</h2>
        <form (ngSubmit)="createCommunication()" #createForm="ngForm" class="form-background">
          <div class="p-field">
            <label for="date">תאריך</label>
            <input type="date" class="p-inputtext" id="date" [(ngModel)]="formattedDate" name="date" required
              (dblclick)="setTodayDate()">
          </div>
          <div class="p-field">
            <!-- <label for="Subject">נושא שיחה </label> -->
            <div class="container">
              <div class="row">
                <div class="col">
                  <label for="searchName">בחר נושא שיחה:</label>
                  <p-autoComplete [(ngModel)]="selectedCallTopic" [suggestions]="filteredCallTopic"
                    (completeMethod)="filterByNameCallTopic($event.query)" [minLength]="1"
                    placeholder="Search callTopics" field="name" [dropdown]="true" (onSelect)="select($event)">
                    <ng-template let-callTopicSchema pTemplate="item">
                      <div>
                        callTopics - {{ callTopicSchema.name }}
                        <ng-container *ngIf="is">
                          <button (click)="add()"> רוצה להוסיף נושא שיחה הזה</button>
                        </ng-container>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
              </div>
            </div>
            <!-- <textarea class="p-textarea" id="Subject" [(ngModel)]="newCommunication.Subject" name="Subject" rows="3" required></textarea> -->
          </div>
          <div class="p-field">
            <label for="summary">סיכום</label>
            <textarea class="p-textarea" id="summary" [(ngModel)]="newCommunication.summary" name="summary" rows="3"
              required></textarea>
          </div>
          <div class="p-field">
            <label for="status">סוג שיחה</label>
            <select (change)="onStatusChange($event.target.value)" [(ngModel)]="newCommunication.Status" name="status">
              <option [ngValue]="true">ליד</option>
              <option [ngValue]="false">מעקב</option>
            </select>
          </div>
          <div class="p-field">
            <label for="assignedTo">שהוקצה ל</label>
            <p-dropdown [options]="users" [(ngModel)]="newCommunication.assignedTo" name="assignedTo"
              optionLabel="label" placeholder="בחר משתמש"></p-dropdown>
          </div>
          <button type="submit" class="p-button" [disabled]="!createForm.form.valid">
            צור תקשורת</button>
        </form>
      </div>
    </div>
  </div>
</p-dialog>