<p-dialog
  header="הוספת שיחה חדשה"
  [(visible)]="displayDialog"
  [modal]="true"
  [responsive]="true"
  [closable]="true"
  (onHide)="onClose()"
  [style]="{ width: '25vw' }"
>
  <div class="p-fluid">
    <div class="card">
      <div class="p-grid p-align-center p-justify-center">
        <form
          (ngSubmit)="createCommunication()"
          #createForm="ngForm"
          class="form-background p-p-3"
        >
          <div
            *ngIf="currentRoute === 'allCommunication'"
            class="p-field p-mb-3"
          >
            <label for="data" class="form-label">לקוח</label>
            <p-dropdown
              [options]="clients"
              [(ngModel)]="selectedClient"
              name="client"
              optionLabel="firstName"
              [style]="{ width: '100%' }"
              appendTo="body"
              required
            >
            </p-dropdown>
          </div>
          <div class="p-field p-mb-3">
            <label for="date" class="form-label">תאריך</label>
            <input
              type="date"
              pInputText
              id="date"
              [(ngModel)]="formattedDate"
              name="date"
              required
              (dblclick)="setTodayDate()"
              [style]="{ width: '100%' }"
            />
          </div>
          <div class="p-field p-mb-3">
            <label for="searchName" class="form-label">נושא שיחה</label>
            <!-- <p-autoComplete
              [(ngModel)]="selectedCallTopic"
              [suggestions]="filteredCallTopic"
              (completeMethod)="filterByNameCallTopic($event.query)"
              [minLength]="1"
              placeholder="Search callTopics"
              field="name"
              [dropdown]="true"
              (onSelect)="select($event)"
              [style]="{ width: '100%' }"
              required
            >
              <ng-template let-callTopicSchema pTemplate="item">
                <div class="p-d-flex p-ai-center">
                  {{ callTopicSchema.name }}
                  <ng-container *ngIf="is">
                    <button
                      type="button"
                      pButton
                      class="p-ml-2"
                      (click)="add()"
                    >
                      רוצה להוסיף נושא שיחה הזה
                    </button>
                  </ng-container>
                </div>
              </ng-template>
            </p-autoComplete> -->

            <!--  -->
            <div class="card flex justify-content-center">
              <p-autoComplete
                [(ngModel)]="selectedCallTopic"
                [dropdown]="true"
                [suggestions]="filteredCallTopic"
                (completeMethod)="filterByNameCallTopic($event.query)"
                field="name"
                (onSelect)="select($event)"
                [style]="{ width: '100%' }"
                placeholder="Search callTopics"
              >
              <ng-template let-callTopicSchema pTemplate="item"></ng-template>
                <div class="p-d-flex p-ai-center">
                  {{ callTopicSchema.name }}
                  <ng-container *ngIf="is">
                    <button
                      type="button"
                      pButton
                      class="p-ml-2"
                      (click)="add()"
                    >
                      רוצה להוסיף נושא שיחה הזה
                    </button>
                  </ng-container>
                </div>
              </ng-template>
            </p-autoComplete>
            </div>
            <!--  -->
          </div>
          <div class="p-field p-mb-3">
            <label for="summary" class="form-label">סיכום השיחה</label>
            <textarea
              pInputTextarea
              id="summary"
              [(ngModel)]="newCommunication.summary"
              name="summary"
              rows="5"
              required
              [style]="{ width: '100%' }"
            ></textarea>
          </div>
          <div class="p-field mb-5">
            <label for="status" class="form-label">סוג שיחה</label>
            <p-dropdown
              [options]="statusOptions"
              [(ngModel)]="newCommunication.Status"
              name="status"
              [style]="{ width: '100%' }"
              appendTo="body"
              required
            >
            </p-dropdown>
          </div>
          <button
            pButton
            label="אישור"
            icon="pi pi-check"
            class="p-button-text p-button-raised p-button-rounded"
            [disabled]="!createForm.form.valid"
            [style]="{ width: '8rem' }"
          ></button>
          <button
            pButton
            label="ביטול"
            icon="pi pi-times"
            (click)="onClose()"
            [style]="{ width: '8rem' }"
            class="p-m p-button-text p-button-raised p-button-rounded"
          ></button>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
