<div class="col-md-12">
  <div id="formText" class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    @if (!isLoggedIn) {
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">אימייל </label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        @if (email.errors && f.submitted) {
        <div class="invalid-feedback">חובה למלא אימייל!</div>
        }
      </div>
      <div class="form-group">
        <label for="password">סיסמה</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          pattern="^(?=.*[a-z])(?=.*[A-Z]).+$"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        @if (password.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (password.errors['required']) {
          <div>חובה למלא סיסמה</div>
          }
          @if (password.errors['minlength']) {
          <div>הסיסמה חייבת להיות לפחות מ-6 תווים</div>
          }
          @if (password.errors['pattern']) {
            <div>הסיסמה חייבת להיות מספר או אותיות</div>
            }
        </div>
        }
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">התחברות</button>
      </div>
      <div class="form-group">
        @if (f.submitted && isLoginFailed) {
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        }
      </div>
    </form>
    } @else {
    <div class="alert alert-success">מחובר כ-{{ role }}</div>
    }
  </div>
  @if (!isLoggedIn) {
    <div id="forgotBox"  class="col-md-12">
      <div >
        <a id="forgotText">שכחת סיסמה?</a>
        <br><a id="forgotLink" (click)="forgotPassword()">לחץ כאן</a>
      </div>
      <app-forgot-password *ngIf="forgot"></app-forgot-password>
    </div>
  }
</div>
<div id="googleSignInButton"></div>
<!-- <button (click)="signInWithGoogle()">התחבר עם גוגל</button> -->
<router-outlet/>

