<div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" *ngIf="formShow" class="form-inline">
    <button type="submit" pButton label="שלח" class="form-button"></button>

    <input id="password" formControlName="password" type="password" placeholder="הכנס סיסמא" class="form-input">
  </form>
</div>


<!-- <div *ngIf="sensitiveDataVisible; else noData">
  <h2>פרטים רגישים</h2>
  <div *ngFor="let data of sensitiveDataList">
    <p-card>
      <ng-container *ngIf="data.isCreditCard; else bankDetails">
        <div class="p-field">
          <label for="creditCardNumber">Credit Card Number:</label>
          <span id="creditCardNumber">{{ data.creditCardCNumber }}</span>
        </div>
        <div class="p-field">
          <label for="creditCardValidity">Credit Card Validity:</label>
          <span id="creditCardValidity">{{ data.creditCardCValidity }}</span>
        </div>
        <div class="p-field">
          <label for="digitsOnTheBack">Digits on the Back:</label>
          <span id="digitsOnTheBack">{{ data.digitsOnTheBack }}</span>
        </div>
      </ng-container>
      <ng-template #bankDetails>
        <div class="p-field">
          <label for="bankDetail">Bank Detail:</label>
          <span id="bankDetail">{{ data.bankDetail }}</span>
        </div>
      </ng-template>
    </p-card>
  </div>
</div> -->

  <div *ngIf="showSensitiveDetails">
    <h4 (click)="sensitiveDataShow()" >
      <!-- <i class="pi pi-angle-down" [ngClass]="{'pi-angle-down'}"></i> -->
      <i class="pi pi-angle-down" ></i>

      :פרטים רגישים
    </h4>
    <div *ngFor="let data of sensitiveDataList">
    <ng-container  >
      <p *ngIf="data.isExist" class="card-text">{{ data.d }} : d <i class="pi pi-credit-card"></i></p>
      <p *ngIf="data.isExist" class="card-text">{{ data.e }} : e  <i class="pi pi-calendar"></i></p>
      <p *ngIf="data.isExist" class="card-text">{{ data.f }} : f  <i class="pi pi-shield"></i></p>
      <p *ngIf="!data.isExist" class="card-text">{{ data.a }}: a <i class="pi pi-money-bill"></i></p>
      <p *ngIf="!data.isExist" class="card-text">{{ data.b }}: b <i class="pi pi-money-bill"></i></p>
      <p *ngIf="!data.isExist" class="card-text">{{ data.c }}: c <i class="pi pi-money-bill"></i></p>

   
    </ng-container></div>
  </div>
<ng-template #noData>
  <p>הפרטים אינם זמינים , נא להכניס סיסמא</p>
</ng-template>
