<div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <label for="password">הכנס סיסמא:</label>
    <input id="password" formControlName="password" type="password">
    <button type="submit" pButton label="Submit"></button>
  </form>
</div>

<div *ngIf="sensitiveDataVisible; else noData">
  <h2>פרטים רגישים</h2>
  <div *ngFor="let data of sensitiveDataList">
    <p-card>
      <ng-container *ngIf="data.isCreditCard; else bankDetails">
        <div class="p-field">
          <label for="creditCardNumber">Credit Card Number:</label>
          <span id="creditCardNumber">{{ data.creditCardCNumber }}</span>
        </div>
        <div class="p-field">
          <label for="creditCardValidity">Credit Card Validity:</label>
          <span id="creditCardValidity">{{ data.creditCardCValidity }}</span>
        </div>
        <div class="p-field">
          <label for="digitsOnTheBack">Digits on the Back:</label>
          <span id="digitsOnTheBack">{{ data.digitsOnTheBack }}</span>
        </div>
      </ng-container>
      <ng-template #bankDetails>
        <div class="p-field">
          <label for="bankDetail">Bank Detail:</label>
          <span id="bankDetail">{{ data.bankDetail }}</span>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<ng-template #noData>
  <p>הפרטים אינם זמינים , נא להכניס סיסמא</p>
</ng-template>
