@import '../../../../styles.css';

input {
  margin-bottom: 10px;
  width: 50%;
}

/* Style for form to align items in a row */
.form-inline {
  display: flex;
  align-items: center;
}

/* Style for input field */
.form-input {
  flex: 1;
  /* Takes up available space */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}