.demo {
    /* margin: 20px; */
    direction: rtl;
  }
  
  #editor {
    height: 200px;
    border-radius: 10px;

  }
  /* #editor.active {
    border-color: #007bff; 
    box-shadow: 0 0 0 1px #007ad9; 
  } */
  .ql-toolbar.ql-snow {
    display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0; /* צבע אפור */
  border-radius: 10px; /* דוגמה להוספת עיצוב נוסף */
  }
  :host ::ng-deep .ql-toolbar.ql-snow {
    display: flex !important;
    flex-wrap: wrap !important;
    background-color: #f8f8f8 !important; /* צבע אפור */
    border-radius: 10px !important; /* דוגמה להוספת עיצוב נוסף */
  }
  