<router-outlet></router-outlet>

<br><br>
<button *ngIf="this.currentRoute != 'allClientFinancialStatement'" pButton (click)="createStatement()" label="יצירת הצהרת הון חדשה" class= "p-button-text p-button-raised p-button-rounded"></button>

<p-table [value]="allFinancialStatement">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>סטטוס</th>
            <th>עובד מטפל</th>
            <th>יתרה לתשלום</th>
            <th>סכום ששולם</th>
            <th pSortableColumn="price" class="sort">
                מחיר <p-sortIcon field="price" />
            </th>
            <th>תאריך יצירה</th>
            <th pSortableColumn="yearReport" class="sort">
                :שנה <p-sortIcon field="yearReport" />
            </th>
            <th *ngIf="this.currentRoute === 'allClientFinancialStatement'">שם לקוח</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-financialStatement>
        <tr (click)="selectFinancialStatement(financialStatement)" [ngClass]="{ 'highlight' : currentFinancialStatement === financialStatement }">

            <td><button *ngIf="currentFinancialStatement === financialStatement" pButton
                class="pi pi-pencil p-button-outlined p-button-lg p-button-rounded p-button-info"
                (click)="goToSteps(currentFinancialStatement)"></button>
            </td>
            <td class="{{financialStatement.status.color}}">{{ financialStatement.status.name }}</td>
            <td>{{ financialStatement.entityType }}</td>
            <td>{{ financialStatement.lastEmployeeWhoTreated.userName }}</td>
            <td>{{ financialStatement.balanceDue }}</td>
            <td>{{ financialStatement.paymentAmountPaid }}</td>
            <td>{{ financialStatement.price }}</td>
            <td>{{ financialStatement.date | date:'dd/MM/yyyy' }}</td>
            <td>{{financialStatement.year }}</td>
        </tr>
    </ng-template>
</p-table>
