.buttons{
    margin: 5%;
  }
  
  .p-grid {
    display: flex;
    justify-content: space-between;
  }
  
  .p-col {
    flex: 1;
    margin: 0 10px;
  }
  
  
  
  .custom-button {
    margin: 5px;
    padding: 5px 10px; /* Smaller padding */
    border: none;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    line-height: 1.2; /* Adjust line height if needed */
  }
  .custom-button .delete-button {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 16px; /* Smaller size */
    height: 16px; /* Smaller size */
    line-height: 16px;
    text-align: center;
    background: red;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px; /* Smaller font size */
  }
  .custom-button:hover .delete-button {
    display: block;
  }
  
  
  .filter-container > div {
    margin-bottom: 10px;
  }
  
  .filter-container label {
    display: block;
    margin-bottom: 5px;
  }
  /* .filter-panel {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  /* .filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  } */
  
  /* #addBtn, #float-input, #disabled-btn, .p-button {
    width: 100%;
    max-width: 200px; /* Adjust as needed 
    margin-bottom: 10px;
  } */
  
  .rounded-button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  /*  */
 /* הסתרת האיקונים כברירת מחדל */
.table-icon {
  display: none;
}

/* הצגת האיקונים כאשר העכבר מעל השורה */
.p-table tbody tr:hover .table-icon {
  display: inline;
}


/*  */
.highlight {
  background-color: #edecec;
}
.p-button-rounded {
  border-radius: 20%;
}