
.allChart{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.pie-chart{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.bar-chart{
    display: flex;
    flex-direction: column;
    height: 600px;
    height: 60px;
    padding: 10px;
    margin: 5px;
}

.aaa{
    width: 100%;
}

/* .bar-chart{
    display: flex;
    flex-direction: row;
    height: 600px;
    height: 60px;
    padding: 10px;
    margin: 5px; 
} */

