/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* @import "apps/front/src/styles.css"; */
@import "primeicons/primeicons.css";

/* Import Quill styles */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "node_modules/primeng/resources/themes/nova-light/theme.css";

:host ::ng-deep .highlight {
  background-color: #edecec;
}

th, td {
  text-align: center;
}

.p-button-rounded {
  border-radius: 20%;
  margin: 1%;
}