<div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                pattern="^(?=.*[a-z])(?=.*[A-Z]).+$"
                    #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                @if (password.errors && f.submitted) {
                <div class="invalid-feedback">
                    @if (password.errors['required']) {
                    <div>Password is required</div>
                    }
                    @if (password.errors['minlength']) {
                    <div>Password must be at least 6 characters</div>
                    }
                    @if (password.errors['pattern']) {
                        <div>Password must contain at least one uppercase letter and one lowercase letter</div>
                        }
                </div>
                }
            </div>


            <div class="form-group">
                <label for="passwordAuthentication">Password Authentication</label>
                <input type="password" class="form-control" name="passwordAuthentication" [(ngModel)]="form.passwordAuthentication" required minlength="6"
                pattern="^(?=.*[a-z])(?=.*[A-Z]).+$"
                    #passwordAuthentication="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passwordAuthentication.errors }" />
                @if (passwordAuthentication.errors && f.submitted) {
                <div class="invalid-feedback">
                    @if (passwordAuthentication.errors['required']) {
                    <div>passwordAuthentication is required</div>
                    }
                    @if (passwordAuthentication.errors['minlength']) {
                    <div>Password must be at least 6 characters</div>
                    }
                    @if (passwordAuthentication.errors['pattern']) {
                        <div>Password must contain at least one uppercase letter and one lowercase letter</div>
                        }
                </div>
                }
            </div>




            <div class="form-group">
                @if (f.submitted && form.password !== form.passwordAuthentication) {
                <div class="invalid-feedback">
                    <div>Passwords do not match</div>
                </div>
                }
            </div>


            <div class="form-group">
                @if (f.submitted && isLoginFailed) {
                <div class="alert alert-danger" role="alert">
                    Login failed: {{ errorMessage }}
                </div>
                }
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block">Change password</button>
            </div>
           
        </form>

    </div>
</div>