@import '../../../../styles.css';

p-table {
  text-align: right;
  background-color: azure;
}

* {
  text-align: right;
}

.p-dropdown {
  max-height: auto;
  overflow-y: auto;
}

.p-dialog .p-dialog-content {
  overflow: auto;
}