table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right; /* התאם את כיוון הטקסט לימין */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button i {
    font-size: 18px;
  }
  