#divHover:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    
}
.bounce {
  transform: scale(1.1);
}
.green-checkbox .p-checkbox-box {
  background-color: green;
}
.ql-formats {
  display: flex;
  align-items: center;
}
#container{
  direction: rtl;
  text-align: right;
  right: 0%;
}
.ql-formats button {
  margin-right: 5px;
}
.avatar:hover {
  cursor: pointer;
  border-color: blue;
}

/*  */
.custom-button {
  margin: 5px;
  padding: 5px 10px; /* Smaller padding */
  border: none;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px; /* Smaller font size */
  line-height: 1.2; /* Adjust line height if needed */
}

.custom-button .delete-button {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px; /* Smaller size */
  height: 16px; /* Smaller size */
  line-height: 16px;
  text-align: center;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
}

.custom-button:hover .delete-button {
  display: block;
}
/* .flex-container {
  display: flex;
  align-items: center; 
} */

/* editor */
/* .ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
} */

#editor-container {
  height: 375px;
}


/* editor.component.css */
.editor-toolbar {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
.editor-content {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}


/*  */
/* .card {
    width: 200px; 
    height: 150px; 
    font-size: 12px; 
  } */
  
  /* .card .p-menuitem-link {
    padding: 5px; 
  } */
  
  /* .card .pi {
    font-size: 1rem; 
  } */

  /* new-style */
  .new-style-card{
    max-width: 50%;
    margin-left: 25%;
    direction: rtl;
  }
  .input-task-name{
    width: 100%;
    max-width: 100%;
  }
  .one-one{
    margin-bottom: 2%;
  }

  /* Dates */
  .calendar-container {
    display: flex;
    gap: 20px; /* רווח בין שני ה-items */
  }
  
  .calendar-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start; /* מיקום של כל תוכן מימין */

  }
  
  .p-date {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  