@import '../../styles.css';

#divHover:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    
}
.bounce {
  transform: scale(1.1);
}
.green-checkbox .p-checkbox-box {
  background-color: green;
}
.ql-formats {
  display: flex;
  align-items: center;
}
#container{
  direction: rtl;
  text-align: right;
  right: 0%;
}
.ql-formats p-button{
  margin-right: 5px;
}
.avatar:hover {
  cursor: pointer;
  border-color: blue;
}

#editor-container {
  height: 375px;
}

.editor-toolbar {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
.editor-content {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}


.card{
  text-align: right;
  direction: rtl;
}