@import '../../styles.css';

#divHover:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    
}
.bounce {
  transform: scale(1.1);
}
.green-checkbox .p-checkbox-box {
  background-color: green;
}
.ql-formats {
  display: flex;
  align-items: center;
}
#container{
  direction: rtl;
  text-align: right;
  right: 0%;
}
.ql-formats p-button{
  margin-right: 5px;
}
.avatar:hover {
  cursor: pointer;
  border-color: blue;
}

/*  */
.custom-button {
  margin: 5px;
  padding: 5px 10px; /* Smaller padding */
  border: none;
  border-radius:12%;
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px; /* Smaller font size */
  line-height: 1.2; /* Adjust line height if needed */
}

.custom-button .delete-button {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px; /* Smaller size */
  height: 16px; /* Smaller size */
  line-height: 16px;
  text-align: center;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
}

.custom-button:hover .delete-button {
  display: block;
}
/* .flex-container {
  display: flex;
  align-items: center; 
} */

/* editor */
/* .ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
} */

#editor-container {
  height: 375px;
}

.editor-toolbar {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
.editor-content {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}


/*  */
/* .card {
    width: 200px; 
    height: 150px; 
    font-size: 12px; 
  } */
  
  /* .card .p-menuitem-link {
    padding: 5px; 
  } */
  
  /* .card .pi {
    font-size: 1rem; 
  } */

  /* new-style */
  .new-style-card{
    max-width: 75%;
    /* margin-left: 35%; */
    direction: rtl;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 9%;
    /* height: 90vh;  */
    /* ממרכז את התוכן גם לגובה */
    /* margin: 0;  */
    /* מוודא שאין מרווחים נוספים */
    direction: rtl;

  }
  .input-task-name{
    width: 100%;
    max-width: 100%;
  }
  .one-one{
    margin-bottom: 2%;
  }

  /* Dates */
  .calendar-container {
    display: flex;
    justify-content: space-between;

    gap: 20px; /* רווח בין שני ה-items */
  }
  
  .calendar-item {
    flex: 1;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* align-items: flex-start;  */
    /* מיקום של כל תוכן מימין */

  }
  
  .p-date {
    /* margin: 0;
    padding: 0; */
    text-align: right;
  }
  /* client */
  .custom-selected-item,
  .custom-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust the gap as needed */
  }
  
  .custom-selected-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .custom-dropdown-clear-icon {
    display: flex;
    align-items: center;
    margin-left: 8px; /* Adjust the margin as needed */
  }

  /*  */
  .status-priority-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* רווח בין הסטטוס לעדיפות */
  }
  
  .status-item,
  .priority-item {
    flex: 1;
  }
  
  .status-label,
  .priority-label {
    text-align: right;
  }
  /*  */
  .one-one-container {
    display: flex;
    gap: 20px; /* רווח בין האלמנטים */
    align-items: center; /* יישור למרכז אנכית */
  }
  
  .item {
    flex: 1; /* כל אלמנט יקבל מקום שווה */
  }
  
  .button-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 16%;
    cursor: pointer;
  }
  /*  */
  .color-picker-container {
    display: flex;
    align-items: center; /* מיישר את שני המרכיבים לאותו גובה */
    gap: 10px; /* רווח בין ה-colorPicker ל-input */
  }
  
  .p-colorpicker {
    height: 30px; /* התאם את הגובה של ה-colorPicker */
    width: 30px; /* התאם את הרוחב של ה-colorPicker */
  }
  
  .input-tag {
    width: 70%;
    height: 30px; /* אותו גובה כמו ה-colorPicker */
  }
  
  
  
  
  
  
  
  