<!-- ===================== -->
<app-timer [taskId]="id"></app-timer>
<div style="margin-top: 10%">
  <p-card
    header="Task"
    subheader="Create and update your task"
    [style]="{ width: '800px' }"
  >
    <ng-template pTemplate="header">
      <div style="height: 50px; background-color: rgb(180, 180, 180)"></div>
    </ng-template>
    <!-- Task Name -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-clipboard"></span>
        Task Name
      </p>
      <div style="margin-left: 50px">
        <p-inputGroup class="w-full" [style]="{ height: '20px' }">
          <input type="text" pInputText [(ngModel)]="taskName" />
        </p-inputGroup>
      </div>
    </div>
    <br />
    <!-- Assignees -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-user"></span>
        Assignees
      </p>
      <div style="margin-left: 60px;width: 32%;">
        <!-- <p-inputGroup class="w-full" [style]="{ height: '20px' }">
          <p-inputGroupAddon *ngIf="!selectedUser"
            ><span
              (click)="showAssignees = !showAssignees"
              class="pi pi-user-plus"
            ></span>
          </p-inputGroupAddon>
        </p-inputGroup> -->
        <p-multiSelect
          [options]="users"
          [(ngModel)]="selectedUsers"
          name="selectedUsers"
          placeholder="Select Users"
          defaultLabel="Select Users"
          [style]="{ height: '50px', width: '100%' }"
        >
          <ng-template let-user pTemplate="item">
            <div class="avatar-item">
              <app-icon-profile
                class="avatar"
                [userName]="user.userName"
              ></app-icon-profile>
              <span>{{ user.userName }}</span>
            </div>
          </ng-template>
          <ng-template let-user pTemplate="selectedItems">
            <div class="selected-items-container" style="display: flex;">
              <div
                *ngFor="let selectedUser of selectedUsers"
                class="selected-item"
                style="margin-right: 10px"
              >
                <app-icon-profile
                  class="avatar"
                  [userName]="selectedUser.userName"
                ></app-icon-profile>
              </div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
      <div (click)="showAssignees = !showAssignees">
        <app-icon-profile
          *ngIf="selectedUser"
          [userName]="selectedUser.userName"
          [email]="selectedUser.email"
        ></app-icon-profile>
      </div>
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupUser" *ngIf="showAssignees">
      <p-listbox
        [options]="users"
        [filter]="true"
        formControlName="selectedUser"
        [(ngModel)]="selectedUser"
        optionLabel="userName"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '400px' }"
        (onChange)="showAssignees = !showAssignees"
      >
        <ng-template let-user pTemplate="item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <app-icon-profile
                class="avatar"
                [userName]="user.userName"
                [email]="user.email"
              ></app-icon-profile>
              <span style="margin-left: 5%;">{{ user.userName }}</span>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </form>
    <br />
    <!-- Status  -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-spinner-dotted"></span>
        Status
      </p>
      <div style="margin-left: 85px">
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px' }">
          <p-button
            [style]="{ height: '20px' }"
            label="{{ selectStatus ? selectStatus.name : 'NOT_STARTED' }}"
            [outlined]="true"
            severity="secondary"
            (click)="showStatus = !showStatus"
          ></p-button>
          <p-inputGroupAddon
            ><i class="pi pi-angle-right"></i
          ></p-inputGroupAddon>
          <p-inputGroupAddon>
            <div class="card flex justify-content-center">
              <p-checkbox
                [(ngModel)]="checked"
                [binary]="true"
                inputId="binary"
                (onChange)="changeStatus()"
                [ngStyle]="{ color: 'green' }"
              ></p-checkbox>
            </div>
          </p-inputGroupAddon>
          <p style="height: 20px">
            {{
              dueDate && dueDate | date :'yyyy/MM/dd'
            }}
          </p>
        </p-inputGroup>
      </div>
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupStatus" *ngIf="showStatus">
      <br><br>
      <div style="width: 170px" class="card flex justify-content-center">
        <p-menu [model]="listStatus" styleClass="w-full md:w-5rem">
          <ng-template pTemplate="item" let-item let-i>
            <div
              pRipple
              class="flex align-items-center p-menuitem-link"
              (click)="showStatus = !showStatus"
            >
              <span
                [style]="{ color: item.color }"
                class="pi pi-stop-circle"
              ></span>
              <span
                (click)="status(item)"
                class="ml-2"
                [style]="{ color: 'gray', 'font-size': '12px','margin-left': '5%' }"
                >{{ item.name }}</span
              >
              <!-- <span
                [class]="i%2 != 0 ? 'pi pi-check-circle' : 'pi pi-check'"
                [style]="{ 'margin-left': '40%' }"
              ></span> -->
            </div>
          </ng-template>
        </p-menu>
      </div>
    </form>
    <br />
    <!-- Priority  -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-spinner-dotted"></span>
        Priority
      </p>
      <div style="margin-left: 85px">
        <p-inputGroup class="w-full" [style]="{ height: '20px' }">
          <p-inputGroupAddon
            ><span
              (click)="showPriority = !showPriority"
              class="pi pi-flag"
              [style]="{ color: selectedPriority && selectedPriority.color }"
            ></span>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupStatus" *ngIf="showPriority">
      <br><br>
      <div style="width: 170px" class="card flex justify-content-center">
        <p-menu [model]="listPriority" styleClass="w-full md:w-5rem">
          <ng-template pTemplate="item" let-item let-i>
            <div
              pRipple
              class="flex align-items-center p-menuitem-link"
              (click)="showPriority = !showPriority"
            >
              <span
                [style]="{ color: item.color }"
                class="pi pi-stop-circle"
              ></span>
              <span
                (click)="priority(item)"
                class="ml-2"
                [style]="{ color: 'gray', 'font-size': '12px','margin-left': '5%'}"
                >{{ item.name }}</span
              >
            </div>
          </ng-template>
        </p-menu>
      </div>
    </form>
    <br /><br />
    <!-- Tags -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-tag"></span>
        Tags
      </p>
      <!-- buttons -->
      <div style="margin-left: 100px">
        <p-inputGroup class="w-full md:w-30rem flex-container">
          <p-button
            (click)="showTagsList = !showTagsList"
            [style]="{ height: '20px', marginRight: '10px', marginTop: '5px' }"
            icon="pi pi-tag"
            [outlined]="true"
            severity="secondary"
          >
          </p-button>
          <p-button
            (click)="showTags = !showTags"
            [style]="{ height: '20px', marginRight: '10px', marginTop: '5px' }"
            label="new"
            [outlined]="true"
            severity="secondary"
          ></p-button>
          <!--  -->
          <button
            *ngFor="let button of buttons; let i = index"
            [ngStyle]="{ backgroundColor: button.color, color: 'white' }"
            class="custom-button"
            (click)="removeButton(i)"
          >
            {{ button.text }}
            <span
              (click)="buttons.splice(i, 1)"
              [ngClass]="{ bounce: i < buttons.length - 1 }"
              class="delete-button"
            >
              x
            </span>
          </button>
        </p-inputGroup>
      </div>
    </div>
    <br /><br />
    <!-- pop -->
    <form [formGroup]="formGroupUser" *ngIf="showTagsList">
      <p-listbox
        [options]="tags!"
        [filter]="true"
        formControlName="selectedUser"
        optionLabel="text"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '400px' }"
        (onChange)="showTags = !showTags"
      >
        <ng-template let-user pTemplate="item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <span
                [style]="{ color: user.color }"
                class="pi pi-stop-circle"
              ></span>
              <span
                (click)="tag(user)"
                class="ml-2"
                [style]="{
                  color: 'gray',
                  'font-size': '12px',
                  'margin-left': '5%'
                }"
                >{{ user.text }}</span
              >
              <span style="margin-left: 5%">{{ user.userName }}</span>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </form>
     <!--  -->
    <div style="width: 40%" *ngIf="showTags">
      <p>Choose a color:</p>
      <p-colorPicker
        [(ngModel)]="selectedColor"
        [style]="{ width: '250px' }"
        [inline]="true"
      ></p-colorPicker>
      <p-inputGroup>
        <!-- <p-inputGroupAddon>Text</p-inputGroupAddon>
        <input
          [style]="{ width: '10%' }"
          type="text"
          pInputText
          placeholder="Example"
          [(ngModel)]="buttonText"
        />
        <p-inputGroupAddon>
          <span id="divHover" (click)="createTag()" class="pi pi-check"></span>
        </p-inputGroupAddon> -->
        <div style="width: 65%">
          <input
            type="text"
            [style]="{ width: '100%', height: '20px' }"
            pInputText
            placeholder="Example"
            (keyup.enter)="createTag()"
            [(ngModel)]="buttonText"
          />
        </div>
      </p-inputGroup>
    </div>
    <!-- Dates -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-calendar-plus"></span>
        Dates
      </p>
      <div style="margin-left: 85px">
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px' }">
          <p-calendar
            [style]="{ height: '20px', width: '250px' }"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
            [(ngModel)]="rangeDates"
            selectionMode="range"
            (ngModelChange)="onDateSelect($event)"
            dateFormat="yy/mm/dd"
          />
        </p-inputGroup>
      </div>
    </div>
    <br /><br />
    <!-- Client -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-users"></span>
        Client
      </p>
      <div style="margin-left: 85px; width: 32%">
        <p-inputGroup class="w-full" [style]="{ height: '20px' }">
          <p-inputGroupAddon [style]="{ width: '20px' }" *ngIf="!selectedClient"
            ><span
              (click)="showClients = !showClients"
              class="pi pi-user"
            ></span
          ></p-inputGroupAddon>
          <div (click)="showClients = !showClients">
            <app-icon-profile
              *ngIf="selectedClient"
              [userName]="selectedclient.firstName"
            ></app-icon-profile>
          </div>
        </p-inputGroup>
        <!-- <p-multiSelect
          [options]="clients"
          [(ngModel)]="selectedClients"
          name="selectedClients"
          defaultLabel="Select Clients"
          optionLabel="name"
          [style]="{ height: '50px', width: '100%' }"
          (onChange)="onUserChange($event)"
        >
          <ng-template let-client pTemplate="item">
            <div class="avatar-item">
              <app-icon-profile
                class="avatar"
                [userName]="client.name"
              ></app-icon-profile>
              <span>{{ client.name }}</span>
            </div>
          </ng-template>
          <ng-template let-client pTemplate="selectedItems">
            <div class="selected-items-container">
              <div
                *ngFor="let selectedClient of selectedClients"
                class="selected-item"
                style="margin-right: 10px"
              >
                <app-icon-profile
                  class="avatar"
                  [userName]="selectedClient.name"
                ></app-icon-profile>
              </div>
            </div>
          </ng-template>
        </p-multiSelect> -->
      </div>
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupClient" *ngIf="showClients">
      <br><br>
      <p-listbox
        [options]="clients"
        [filter]="true"
        formControlName="selectedClient"
        [(ngModel)]="selectedClient"
        optionLabel="name"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '400px' }"
        (onChange)="showClients = !showClients"
      >
        <ng-template let-client pTemplate="item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <app-icon-profile
                [userName]="client.firstName"
                [email]="client.email"
              ></app-icon-profile>
              <span style="margin-left: 5%;">{{ client.firstName && client.firstName }}</span>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </form>
    <br /><br />
    <!-- description -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-users"></span>
        Description
      </p>
      <div style="margin-left: 50px">
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px' }">
          <p-inputGroupAddon
            ><span
              (click)="showDescription = !showDescription"
              class="pi pi-pencil"
            ></span
          ></p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
    <br /><br />
    <!-- pop -->
    <app-editor
      *ngIf="showDescription && !currentTask"
      [initialContent]="htmlContent"
      (contentChange)="onContentChange($event)"
    ></app-editor>
    <app-editor
      *ngIf="showDescription && currentTask"
      [initialContent]="currentTask!.description"
      (contentChange)="onContentChange($event)"
    ></app-editor>
    <!-- upload doc -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-file-o"></span>
        Upload Document
      </p>
      <div>
        <p-inputGroup class="w-full" [style]="{ height: '20px' }">
          <p-inputGroupAddon
            ><span (click)="showDoc = !showDoc" class="pi pi-file-plus"></span>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
    <!-- array id -->
    <app-upload-doc-task
      *ngIf="showDoc"
      [idClient]="selectedClients[0] && selectedClients[0]._id"
      (responseReceived)="handleResponse($event)"
    >
    </app-upload-doc-task>
    <!-- drive image -->
    <div *ngFor="let image of images">
      <a [href]="image" download="{{ image }}"
        >{{ image }}
        <!-- <button>Download</button> -->
      </a>
    </div>
    <p-divider></p-divider>
    <!--  -->
    <!-- <p-tabMenu 
    [model]="additionTask" 
    [activeItem]="activeItem" 
    (activeItemChange)="onActiveItemChange($event)" />
    <div *ngIf="activeItem && activeItem.id === '1'">
      <app-task-check-list></app-task-check-list>
    </div> -->

    <div class="card">
      <p-tabView>
          <p-tabPanel header="SubTask">
            <div>
              <app-sub-task></app-sub-task>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Check List">
            <div>
              <app-task-check-list></app-task-check-list>
            </div>
          </p-tabPanel>
      </p-tabView>
    </div>
    <!--  -->
    <!-- footer -->
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1" style="margin-left: 70%">
        <p-button
          label="Cancel"
          icon="pi pi-undo"
          [text]="true"
          [raised]="true"
          severity="danger"
          style="color: red;"
          [style]="{color:'red'}"
          (click)="cancel()"
        />
        <p-button
          label="Save"
          icon="pi pi-check"
          [text]="true"
          [raised]="true"
          severity="primary"
          (click)="showDialog()"
        />
      </div>
    </ng-template>
  </p-card>
</div>
<!--  -->

<p-dialog header="Google Calendar" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Do you add the task to google calendar?</span>
  <br>
  <div class="flex justify-content-end gap-2">
      <p-button icon="pi pi-times" label="No" severity="secondary" (click)="cancelDialog()" />
      <p-button icon="pi pi-check" label="Yes" (click)="createGoogleTask()" />
  </div>
</p-dialog>


<!--  -->
