    <h1 class="header-icons">
        <!-- Existing profile icon -->
        {{ client?.firstName }} {{ client?.lastName }}

        <app-icon-profile [userName]="client?.firstName +' '+ client?.lastName" style="width: 50px;">
        </app-icon-profile>
    </h1>

    <button pButton type="button" class="p-button-text p-button-raised p-button-rounded"
        (click)="sidebarVisible2 = true" (click)="showDetails = true"> לכל הפרטים</button>
 <div class="allDetails">
<p-sidebar [(visible)]="sidebarVisible2" position="left" [modal]="false" class="mySidebar" [style]="{ 'width': '20%' }">
  
    <div class="sidebar-header">
        <!-- Move pin icon to the right of the close p-button-->
        <!-- <i class="pi pi-thumbtack pin-icon" ></i> -->
        {{ client?.firstName }} {{ client?.lastName }}

        <app-icon-profile [userName]="client?.firstName +' '+ client?.lastName">
        </app-icon-profile>

    </div>

    <div class="card-body">
        <div *ngIf="showDetails">
            <div>
                <h4 (click)="togglePersonalDetails()">
                    <i class="pi pi-angle-down"
                        [ngClass]="{'pi-angle-down': !showPersonalDetails, 'pi-chevron-down': showPersonalDetails}"></i>
                    פרטים אישיים
                </h4>
                <ng-container *ngIf="showPersonalDetails">
                    <p class="card-text"> {{ client?.firstName }} {{ client?.lastName }} <i class="pi pi-user"></i>
                    </p>
                    <p class="card-text"> {{ client?.tz }} <i class="pi pi-id-card"></i></p>
                    <p class="card-text"> {{ client?.phone }} <i class="pi pi-phone"></i></p>
                    <p class="card-text"> {{ client?.whatsapp }} <i class="pi pi-whatsapp"></i></p>
                    <p class="card-text"> {{ client?.isPreferWhatsapp }} ?מעדיף ווטאצפ <i class="pi pi-whatsapp"></i>
                    </p>
                    <p class="card-text"> {{ client?.email }} <i class="pi pi-envelope"></i></p>
                    <p class="card-text"> {{ client?.address }} <i class="pi pi-home"></i></p>
                    <p class="card-text"> {{ client?.payment }} :תשלום <i class="pi pi-money-bill"></i></p>
                </ng-container>
            </div>

            <div>
                <h4 (click)="toggleBusinessDetails()">
                    <i class="pi pi-angle-down"
                        [ngClass]="{'pi-angle-down': !showBusinessDetails, 'pi-chevron-down': showBusinessDetails}"></i>
                    פרטי עסק
                </h4>
                <ng-container *ngIf="showBusinessDetails">
                    <p class="card-text"> {{ client?.companyName }} :שם חברה <i class="pi pi-briefcase"></i></p>
                    <p class="card-text">{{ client?.contactPersonName }}: איש קשר <i class="pi pi-user"></i></p>
                    <p class="card-text"> {{ client?.spouseName }} :שם בן זוג <i class="pi pi-user"></i></p>
                    <p class="card-text"> {{ client?.spouseTZ }} :ת.ז בן זוג <i class="pi pi-id-card"></i></p>
                </ng-container>
            </div>

            <div>
                <h4 (click)="toggleSensitiveDetails()">
                    <i class="pi pi-lock"></i>
                    הצגת פרטים רגישים
                </h4>
                <ng-container *ngIf="showSensitiveDetails">
                    <app-sensitive-details [client]="client"></app-sensitive-details>
                </ng-container>
                <button pButton type="button" class="custom-button" (click)="editClient()">
                    עריכה <i class="pi pi-pencil"></i>
                </button>
                <button pButton type="button" class="custom-button" (click)="showConfirmationDelete()">
                    מחיקה <i class="pi pi-trash"></i>
                </button>
            </div>
        </div>
    </div>
</p-sidebar>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" key="delete">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="Cancel" class="p-button-text"
            (click)="cancelDelete()"></button>
        <button type="button" pButton icon="pi pi-check" label="Delete" class="p-button-text"
            (click)="confirmDelete()"></button>
    </p-footer>
</p-confirmDialog>
 </div>