@import '../../../../styles.css';

.nav{
    width: 10rem;
    height: 10rem;
}

.p{
    direction: rtl;
}
.container{
    margin-left: 0rem; 
  padding-left: 1rem;
  margin-right: 0rem;
  padding-right: 0rem;
}