<button pButton *ngIf="currentRoute==='taxRefunds'" (click)="createReprtTag()" label="יצירת דוח  חדש" class= "p-button-text p-button-raised p-button-rounded"></button>

<p-table [value]="allTaxRefunds" [tableStyle]="{ 'max-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>סטטוס</th>
      <th>ישות</th>
      <th>יתרה לתשלום</th>
      <th>סכום ששולם</th>
      <th>מחיר</th>
      <th>עובד מטפל</th>
      <th>תאריך יצירה</th>
      <th pSortableColumn="taxRefunds" class="sort">
        :שנה <p-sortIcon field="taxRefunds" />
      </th>
      <th *ngIf="currentRoute==='allClientTaxRefunds'">לקוח</th>
      <th *ngIf="currentRoute === 'allClientTaxRefunds'"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr (click)="selectTaxRefunds(task)" [ngClass]="{ 'highlight': currentTaxRefunds === task }">
      <td >
           <button *ngIf="currentTaxRefunds === task" pButton 
          class="pi pi-pencil p-button-outlined p-button-rounded p-button-info"
          style="cursor: pointer; margin-left: 5px;"
          pTooltip="עריכת שלבי הדוח"
          tooltipPosition="bottom"
          (click)="goToSteps(task)">
         </button>
      </td>
      <td class="{{task.status[0].color}}">{{task.status[0].name}}</td>
      <td>{{task.entityType}}</td>
      <td>{{ task.balanceDue }}</td>
      <td>{{ task.paymentAmountPaid }}</td>
      <td>{{ task.price }}</td>
      <td>{{ getEmployeName(task.idEmploye)?.userName }}</td>
      <td>{{ task.date | date : 'dd/MM/yyyy' }}</td>
      <td>{{ task.year }}</td>
        <td *ngIf="currentRoute==='allClientTaxRefunds'">{{getClientName(task.idClient)?.firstName }}
           {{getClientName(task.idClient)?.lastName }}</td>
        <app-icon-profile  *ngIf="currentRoute==='allClientTaxRefunds'"
            [userName]="getClientName(task.idClient)?.firstName  && 
             getClientName(task.idClient)?.lastName"
            style="width: 50px;"></app-icon-profile>

    </tr>
  </ng-template>
</p-table>
