<p-table [value]="allTaxRefunds" [tableStyle]="{ 'max-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>עובד מטפל</th>
      <th>תאריך יצירה</th>
      <th>שנה</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr (click)="selectTaxRefunds(task)" [ngClass]="{ 'highlight': currentTaxRefunds === task }">
      <td><button *ngIf="currentTaxRefunds === task" pButton
          class="pi pi-pencil p-button-outlined p-button-rounded p-button-info"
          (click)="goToSteps(getClientName(task.idUser), task)"></button>
      </td>
      <td>{{ getEmployeName(task.idEmploye)?.userName }}</td>
      <td>{{ task.date | date : 'dd/MM/yyyy' }}</td>
      <td>{{ task.year }}</td>
    </tr>
  </ng-template>
</p-table>