<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
  <div style="margin-top: 5%" class="flex align-items-center gap-3 mb-5">
    <label style="margin-left: 2%" for="email" class="font-semibold w-6rem"
      >מייל
    </label>
    <input
      pInputText
      id="email"
      class="flex-auto"
      autocomplete="off"
      [(ngModel)]="userEmail"
    />

    <!-- Display error message if email is invalid -->
    <small *ngIf="email && !email.valid && email.touched" class="text-red-500"
      >Invalid email address.</small
    >
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      label="בטל"
      [text]="true"
      severity="secondary"
      (click)="visible = false"
      class="p-button-text p-button-raised p-button-rounded"
    ></button>
    <!-- Disable Submit p-buttonif form is invalid -->
    <button
      pButton
      label="שלח"
      (click)="onSubmit()"
      class="p-button-text p-button-rounded"
    ></button>
  </ng-template>
</p-dialog>
<!--  -->
<p-dialog
  header="הכנס סיסמה"
  [modal]="true"
  [(visible)]="visible2"
  [style]="{ width: '25rem' }"
>
  <div
    style="width: 50%; margin-right: 20%; margin-bottom: 3%"
    class="card flex justify-content-center"
  >
    <p-inputOtp [(ngModel)]="value" [integerOnly]="true"></p-inputOtp>
  </div>
  <div class="flex justify-content-end gap-2">
    <button
      pButton
      icon="pi pi-times"
      severity="secondary"
      (click)="visible2 = false"
      class="p-button-text p-button-raised p-button-rounded"
    ></button>
    <button
      pButton
      severity="secondary"
      icon="pi pi-check"
      (click)="checkPassword()"
      class="p-button-text p-button-raised p-button-rounded"
    ></button>
  </div>
</p-dialog>
