<!-- popup-notification.component.html -->
<!-- <div *ngIf="task" class="popup">
  <p>משימה חדשה: {{ task.name }}</p>
  <button (click)="confirmTask()">אשר משימה</button>
</div> -->

<p-dialog
  *ngIf="task"
  header="הודעת משימה חדשה"
  [(visible)]="display"
  [closable]="false"
  [dismissableMask]="true"
  [style]="{ position: 'fixed', top: '10px', right: '10px', width: '300px' }"
  [contentStyle]="{ padding: '20px' }"
>
  <div *ngIf="task">
    <p>משימה חדשה לא משויכת: {{ task.taskName }}</p>
    <a
      (click)="moveTask()"
      [routerLink]="['/taskSpe', task._id]"
      class="task-link"
      >שיוך המשימה אליך</a
    >
  </div>
</p-dialog>
