@import '../../../../styles.css';
.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  /* justify-content: center; */
   width: 40%;
   /* align-items: center; */
   justify-content: center;
   text-align: right;
   margin: auto;
   margin-top: 20px;
}
.i{
  direction: rtl;
}



.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}



label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-right: 30px;
  
}




.form-control {
  max-width: 80%;
  /* padding: 8px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 40px;
  text-align: right;
  
}
.form-control-2{
  margin-right: 8%;
  text-align: right;
}


.error {
  color: #0056b3;
  font-size: 12px;
  margin-top: 5px;
}






.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-circle i {
  font-size: 24px;
  color: #007bff;
        /* background-color: #007bff; */

}

p-button-text p-button-raised p-button-rounded{
  width: 100%;
}

.template{
  text-align: right;
}
