.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
   width: 40%;
   align-items: end;
   justify-content: center;
   text-align: right;
   margin: auto;
   margin-top: 20px;

}


.icon-container {
  font-size: 24px;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}



label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-right: 40px;
  
}

.custom-dropdown-panel {
  width: 100%;
  margin-right: 40px;

}

.custom-dropdown {
  width: 100%;
  margin-right: 40px;

}

.form-control {
  width: 80%;
  /* padding: 8px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 70px;
}

.error {
  color: #0056b3;
  font-size: 12px;
  margin-top: 5px;
}

.custom-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input, textarea, select {
  width: 100%;
  /* padding: 8px; */
  margin-bottom: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  /* justify-content: center; */
  /* margin-right: 40px; */


}


.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-circle i {
  font-size: 24px;
  color: #007bff;
        /* background-color: #007bff; */

}
.form-group{
  margin-right: 40px;

}