.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* מיקום בצד ימין */
}

.checkbox-container label {
    margin-left: 8px; /* מרווח בין ה-checkbox לטקסט */
}
.label{
    margin-right: 10px;
}