@import '../../styles.css';
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkbox-container label {
    margin-left: 8px; 
}
.label{
    margin-right: 10px;
}

