.highlight {
    background-color: #edecec;
}

th, td {
    text-align: center;
}

.p-button-rounded {
    border-radius: 20%;
    margin: 1%;
    font-size: 15px;
    padding: 15px;
}

.p-button-danger{
    color: red; 
    border-color: red;
}

.p-button-info{
    color: #0ea5e9;
    border-color: #0ea5e9;
}