<h3>שיחות</h3>
<p-table [value]="communications"
  [tableStyle]="{'min-width': '80rem'}">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>סוג השיחה </th>
      <th>תאריך</th>
      <th>נושא שיחה</th>
      <th>סיכום</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-communication let-columns="columns">
    <tr>

      <td *ngIf="communication.Status === 'true'">ליד</td>
      <td *ngIf="communication.Status === 'false'">מעקב</td>
      <td>{{communication.date | date: 'yyyy-MM-dd' }}</td>
      <td>{{communication.Subject}}</td>
      <td>{{communication.summary}}</td>
    </tr>
  </ng-template>
</p-table>


<button class="p-button p-button-warning p-button-sm p-float-right p-ml-2">Edit</button>
<button class="p-button p-button-danger p-button-sm p-float-right">Delete</button>

<p-button label="להוספת שיחה" (click)="displayDialog = true"></p-button>
<app-client-add-communication *ngIf="displayDialog" (close)="displayDialog = false"></app-client-add-communication>