<p-footer class="p-grid p-nogutter footer">
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="logo-and-details">
        <img src="../../assets/image/logo-22.6.21.gif" alt="Logo" class="footer-logo">
        <div class="business-details">
          <p>בעל העסק: שם העסק</p>
          <p>טלפון: 123-456-7890</p>
          <p>כתובת: רחוב ראשי 1, עיר</p>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3 home-link">
      <a routerLink="/" class= "p-button p-button-text">Home</a>
    </div>
  </p-footer>
  