.footer {
    background-color: #00011c; /* צבע זהב */
    color: #ffffff; /* צבע טקסט כהה */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 110%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* צללייה קלה */
  }
  
  .logo-and-details {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    width: 100px; /* גודל התמונה של הלוגו */
    margin-right: 10px; /* מרווח מימין */
  }
  
  .business-details {
    margin-left: 10px; /* מרווח משמאל */
  }
  
  .home-link .button  {
    color: #ffffff;
    font-weight: bold;
  }
  
  .home-link .button :hover {
    text-decoration: underline;
  }
  