<button pButton (click)="showDialog()" label="ייבא מאקסל"
  class= "p-button-text p-button-raised p-button-rounded"></button>
  
<p-dialog header="ייבוא לקוחות" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="flex align-items-center gap-3 mb-5">
    <button pButton class= "p-button-text p-button-raised p-button-rounded" label="הורד תבנית" icon="pi pi-download"
      (click)="downloadTemplate()"></button>
    <p-fileUpload class="flex-auto ml-5" mode="basic" customUpload="true" chooseLabel="בחר קובץ"
      chooseIcon="pi pi-upload" uploadLabel="ייבא" accept=".xls,.xlsx" (uploadHandler)="onUpload($event)" />
  </div>
</p-dialog>