<p-button (onClick)="showDialog()" label="ייבא מאקסל" />
<p-dialog
  header="ייבוא לקוחות"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <div class="flex align-items-center gap-3 mb-5">
    <p-button
      class="flex-auto ml-4"
      label="הורד תבנית"
      icon="pi pi-download"
      (onClick)="downloadTemplate()"
    />
    <p-fileUpload
      class="flex-auto ml-5"
      mode="basic"
      customUpload="true"
      chooseLabel="בחר קובץ"
      chooseIcon="pi pi-upload"
      uploadLabel="ייבא"
      accept=".xls,.xlsx"
      (uploadHandler)="onUpload($event)"
    />
  </div>
</p-dialog>
