body {
    text-align: right;
    direction: rtl;
    background-color: chartreuse;
}

:host {
    /* margin-top: 10%;
    font-size: 3.5rem;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem; */
    /* color: brown; */
    text-align: right;
    font-family: "Inter var", sans-serif;
}
