body {
  text-align: right;
  direction: rtl;
  background-color: #f5f5f5;
}

#app {
    margin-top: 13rem;
}

:host {
  text-align: right;
  font-family: 'Inter var', sans-serif;
}

:host ::ng-deep .smartaxToolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

:host ::ng-deep .container{
    max-width: 11040px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    /* display: flex;
    justify-content: center;
    min-width: 10rem; */
}