body {
  text-align: right;
  direction: rtl;
  background-color: #f5f5f5;
}
#app {
  /* margin-top: 9.5rem; */
  min-height: 100vh; /* כדי להבטיח שהדיב יקבל גובה מלא */
  background-color: #f5f5f5;
  padding-top: 9.5rem; /* התאם את הערך לפי גובה ה-toolbar כדי למנוע חפיפות */

}
:host {
  text-align: right;
  font-family: 'Inter var', sans-serif;
}
:host ::ng-deep .smartaxToolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
/* menu-items */
::ng-deep .p-menu .p-menuitem-link {
  text-decoration: none;
  /* text-align: right;
  display: block;
  width: 100%; */
}

::ng-deep .p-menu .p-menuitem-link:hover {
  text-decoration: none;
  text-align: right;
}
/* nav-bar */
/* styles.css */
.custom-navbar {
  background-color: white;
}

.custom-navbar {
  color: black; /* צבע הכתב עבור טקסטים ולינקים בתוך ה-nav */
  /* border-bottom: 2px solid black;  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* צל תחתון */
  /* padding: 10px 15px; */
}

.custom-navbar a {
  text-decoration: none;
  color: black;
}

/*  */
/* styles.css */
.smartaxToolbar {
  display: flex;
  justify-content: center;
}

.custom-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* יישור האלמנטים בתוך ה-navbar */
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 10px; /* רווח בין פריטים */
}

.smarttax-logo {
  font-weight: bold;
}

.rounded-button {
  border-radius: 10px;
}

.nav-link.no-underline {
  text-decoration: none;
}
/*  */

body,
html {
  background-color: #f5f5f5; /* צבע רקע אפור בהיר */
  margin: 0;
  padding: 0;
  height: 100%;
}
