/* .p-tabmenu .p-tabmenu-nav {
    display: flex !important;
    flex-direction: row-reverse !important;

}
#container{
    color:cadetblue  !important;
} */

#menu {
    direction: rtl;
}
/* Define the active link class */
.active-link {
    background-color: rgb(38, 38, 38) !important;
    color: white !important;
    border-radius: 10px !important; /* Adjust the value as needed */
}
