/* .p-tabmenu .p-tabmenu-nav {
    display: flex !important;
    flex-direction: row-reverse !important;

}
#container{
    color:cadetblue  !important;
} */

#menu {
    direction: rtl;
    background-color: white!important;
    /* color: brown; */
    /* margin-top: 500px !important; */
}

/* Define the active link class */
.active-link {
    /* background-color: rgb(48, 46, 46) !important; */
    background-color: rgba(100, 100, 100, 0.5) !important;

    color: white !important;
    border-radius: 10px !important;
    /* Adjust the value as needed */
}

/*  */

