/* .p-tabmenu .p-tabmenu-nav {
    display: flex !important;
    flex-direction: row-reverse !important;

}
#container{
    color:cadetblue  !important;
} */

#menu {
    direction: rtl;
    color: brown;
    /* margin-top: 500px !important; */
}

/* Define the active link class */
.active-link {
    background-color: rgb(118, 118, 118) !important;
    color: white !important;
    border-radius: 10px !important;
    /* Adjust the value as needed */
}