<p-tabMenu [model]="items" style="direction: rtl;">
    <ng-template pTemplate="item" let-item>
        <div style="display: flex; flex-direction: column;">
            <div>
                <ng-container *ngIf="item.route && !item.list">
                    <a tabindex="0" role="presentation" [routerLink]="item.route" class="p-menuitem-link">
                        <span class="ml-2">
                            {{ item.label }}
                        </span>
                        <span [class]="item.icon"></span>
                        <span class="p-ink" style="height: 100px; width: 100px; top: -2px; right: 17px;"></span>
                    </a>
                </ng-container>
                <ng-container *ngIf="item.route && item.list">
                    <a tabindex="0" role="presentation" (click)="toggleList(item)" class="p-menuitem-link">
                        <span class="ml-2">
                            {{ item.label }}
                        </span>
                        <span [class]="item.icon"></span>
                        <span class="p-ink" style="height: 100px; width: 100px; top: -2px; right: 17px;"></span>
                    </a>
                </ng-container>
            </div>
            <ng-container *ngIf="item.list && item.children && item.expanded">
                <ul>
                    <li *ngFor="let child of item.children">
                        <a [routerLink]="item.route + '/' + child.route">{{ child.label }}</a>
                    </li>
                </ul>
            </ng-container>
        </div>
    </ng-template>
</p-tabMenu>