/* .p-tabmenu .p-tabmenu-nav {
    display: flex !important;
    flex-direction: row-reverse !important;

}
#container{
    color:cadetblue  !important;
} */

#menu {
    direction: rtl;
}

/* li.ui-tabmenuitem.ui-state-default.ui-state-active {
    background: #0a3a75;
 } */
