<div class="col-md-12">
    <div class="card card-container">
        <h1>Meetings</h1>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" name="address" [(ngModel)]="form.address" required
                    #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.errors }" />
                    <div *ngIf="isValidURL(form.address)">
                        <a [href]="form.address" target="_blank">Open Link</a>
                    </div>
                @if (address.errors && f.submitted) {
                <div class="invalid-feedback">
                    @if (address.errors['required']) {
                    <div>Address is required</div>
                    }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="form.date" required #date="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && date.errors }" />
                @if (date.errors && f.submitted) {
                <div class="invalid-feedback">
                    @if (date.errors['required']) {
                    <div>Date is required</div>
                    }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="beginningTime">Beginning Time</label>
                <input type="time" class="form-control" name="beginningTime" [(ngModel)]="form.beginningTime" required
                    #beginningTime="ngModel" (change)="onBeginningTimeChange()" [ngClass]="{ 'is-invalid': f.submitted && beginningTime.errors }" />
                @if (beginningTime.errors && f.submitted) {
                <div class="invalid-feedback">
                    @if (beginningTime.errors['required']) {
                    <div>Beginning Time is required</div>
                    }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="endTime">End Time</label>
                <input type="time" class="form-control" name="endTime" [(ngModel)]="form.endTime" required
                    #endTime="ngModel"
                    [disabled]="!form.beginningTime"
                    min="11:30"
                    max="12:45"
                    (focus)="restrictTimeOptions($event)"
                    [ngClass]="{ 'is-invalid': f.submitted && endTime.errors }" />
                @if (endTime.errors && f.submitted) {
                <div class="invalid-feedback">
                    @if (endTime.errors['required']) {
                    <div>End Time is required</div>
                    }
                </div>
                }
            </div>

            <h5>Select Users</h5>
            <p-multiSelect [options]="users"
                           [(ngModel)]="selectedUsers"
                           name="selectedUsers"
                           placeholder="Select Users"
                           defaultLabel="Select Users"
                           [style]="{'height':'50px','width':'100%' }"
                           (onChange)="onUserChange($event)">
              <ng-template let-user pTemplate="item">
                <div class="avatar-item">
                  <app-icon-profile class="avatar" [userName]="user.userName"></app-icon-profile>
                  <span>{{ user.userName }}</span>
                </div>
              </ng-template>
              <ng-template let-user pTemplate="selectedItems">
                <div *ngFor="let selectedUser of selectedUsers" class="selected-item">
                  <app-icon-profile class="avatar" [userName]="selectedUser.userName"></app-icon-profile>
                </div>
              </ng-template>
            </p-multiSelect>

            <h5>Select Clients</h5>
            <p-multiSelect [options]="clients"
                        [(ngModel)]="selectedClients"
                        name="selectedClients"
                        defaultLabel="Select Clients"
                        optionLabel="name"
                        [style]="{'height':'50px','width':'100%' }"
                        (onChange)="onClientChange($event)">
            <ng-template let-client pTemplate="item">
                <div class="avatar-item">
                <app-icon-profile class="avatar" [userName]="client.firstName"></app-icon-profile>
                <span>{{ client.firstName }}</span>
                </div>
            </ng-template>
            <ng-template let-client pTemplate="selectedItems">
                <div *ngFor="let selectedClient of selectedClients" class="selected-item">
                <app-icon-profile class="avatar" [userName]="selectedclient.firstName"></app-icon-profile>
                </div>
            </ng-template>
            </p-multiSelect>

            <div class="form-group">
                <button *ngIf="meetId=='null'" class="btn btn-primary btn-block">Add Meet</button>
                <button *ngIf="meetId!='null'" class="btn btn-primary btn-block">Update Meet</button>
            </div>

        </form>

    </div>
</div>



<script>
    function validateTime(event) {
        const input = event.target;
        const selectedTime = input.value;
        
        if (selectedTime < '11:30' || selectedTime > '12:45') {
            input.setCustomValidity('Please select a time between 11:30 and 12:45.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>
