<div style="margin-top: 10%">
  <p-card header="Meeting" subheader="Create and update your meet" [style]="{ width: '800px' }">
    <ng-template pTemplate="header">
      <div style="height: 50px; background-color: rgb(180, 180, 180)"></div>
    </ng-template>

    <div class="input-group"></div>
    <!-- Address -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-link"></span>
        כתובת
      </p>
      <div style="margin-left: 50px">
        <p-inputGroup class="w-full" [style]="{ height: '20px', marginLeft: '90px' }">
          <input type="text" pInputText [(ngModel)]="form.address" />
          <div *ngIf="isValidURL(form.address)">
            <a [href]="form.address" target="_blank">Open Link</a>
          </div>
        </p-inputGroup>
      </div>
    </div>
    <br />

    <!-- Date -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-calendar-plus"></span>
        תאריך
      </p>
      <div style="margin-left: 85px">
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px', marginLeft: '50px' }">
          <p-calendar [(ngModel)]="form.date" [style]="{ height: '20px', width: '250px' }" [iconDisplay]="'input'"
            [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy"/>
        </p-inputGroup>
      </div>
    </div>
    <br /><br />

    <!-- begining time -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-clock"></span>
        שעת התחלה
      </p>
      <div style="margin-left: 85px">
        <input type="time" class="form-control" name="beginningTime" [(ngModel)]="form.beginningTime" required
          #beginningTime="ngModel" 
          [style]="{marginLeft: '10px' , width: '250px'}"/>
      </div>
    </div>
    <br /><br />
    <!-- End time -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-clock"></span>
        שעת סיום
      </p>
      <div style="margin-left: 85px">
        <input type="time" class="form-control" name="endTime" [(ngModel)]="form.endTime" required
        #endTime="ngModel"
        [style]="{marginLeft: '30px', width: '250px' }"/>
      </div>
    </div>
    <br /><br />

    <!-- Select User -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-user-plus"></span>
        בחר משתמשים
      </p>
      <div style="margin-left: 60px">
        <p-inputGroup class="w-full" [style]="{ height: '20px', marginLeft: '20px' }">
        </p-inputGroup>
      </div>
      <ng-template let-user pTemplate="item">
        <div>
          <app-icon-profile [userName]="user.userName"></app-icon-profile>
          <span>{{ user.userName }}</span>
        </div>
      </ng-template>
    

    <!-- pop -->
    <p-multiSelect [options]="users" [(ngModel)]="selectedUsers" required name="selectedUsers"
      placeholder="Select Users" defaultLabel="Select Users" [style]="{'height':'50px','width':'15rem' }"
      (onChange)="onUserChange($event)">


      <ng-template let-user pTemplate="item">
        <div class="avatar-item">
          <app-icon-profile class="avatar" [userName]="user.userName"></app-icon-profile>
          <span>{{ user.userName }}</span>
        </div>
      </ng-template>
      <ng-template let-user pTemplate="selectedItems">
        <div *ngFor="let selectedUser of selectedUsers" class="selected-item">
          <app-icon-profile class="avatar" [userName]="selectedUser.userName"></app-icon-profile>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>

    <!-- Clients -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover" class="clients">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-users"></span>
        בחר לקוחות
      </p>
      <div style="margin-left: 85px">
        <p-inputGroup class="w-full" [style]="{ height: '20px' , marginLeft: '15px'}">
          <div>
            <ng-template let-user pTemplate="item">
              <div>
                <app-icon-profile [userName]="user.userName"></app-icon-profile>
                <span>{{ user.userName }}</span>
              </div>
            </ng-template>
          </div>
        </p-inputGroup>
      </div>
    
    <!-- pop -->
    <p-multiSelect [options]="clients" [(ngModel)]="selectedClients" required name="selectedClients"
      defaultLabel="Select Clients" optionLabel="name" [style]="{'height':'50px','width':'15rem' }"
      
      (onChange)="onClientChange($event)">
      <ng-template let-client pTemplate="item">
        <div class="avatar-item">
          <app-icon-profile class="avatar" [userName]="client.name"></app-icon-profile>
          <span>{{ client.name }}</span>
        </div>
      </ng-template>
      <ng-template let-client pTemplate="selectedItems">
        <div *ngFor="let selectedClient of selectedClients" class="selected-item">
          <app-icon-profile class="avatar" [userName]="selectedClient.name"></app-icon-profile>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>
  

    <!-- footer -->
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1" style="margin-left: 70%">
        <button pButton  label="ביטול" icon="pi pi-undo" severity="secondary"
          (click)="cancel()" class= "p-button-text p-button-raised p-button-rounded"></button>
        <button pButton  label="שמירה" icon="pi pi-check" severity="secondary" (click)="showDialog()" class= "p-button-text p-button-raised p-button-rounded"></button>
      </div>
    </ng-template>
  </p-card>
</div>

<p-dialog header="Google Calendar" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Do you add the meeting to google calendar?</span>
    <div class="card flex justify-content-center">
        <p-checkbox 
            [(ngModel)]="checked" 
            [binary]="true" 
            inputId="binary"
            label="Would you like to join the meeting via google-meet?"
             />
    </div>
    <div class="flex justify-content-end gap-2">
        <button pButton  label="No" severity="secondary" (click)="cancelDialog()" class= "p-button-text p-button-raised p-button-rounded"></button>
        <button pButton  label="Yes" (click)="scheduleMeeting()" class= "p-button-text p-button-raised p-button-rounded"></button>
    </div>
</p-dialog>