label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  h1{
    text-align: center;
  }

  .form-group{
    margin-top: 30px;
  }
  h5{
    margin-top: 30px;
  }

/* multy select */

.avatar-item {
  display: flex;
  align-items: center;
}

.avatar-item .avatar {
  margin-right: 0.5rem;
}

.selected-item {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

.p-multiselect {
  width: 100%;
  min-width: 400px; 
  max-width: 400px;
  height: 2.5rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  padding: 0.375rem 0.75rem; 
  box-shadow: 0 0 0 1px #d9d9d9 inset, 0 0 0 transparent; 
  text-overflow: ellipsis; 
}

.p-multiselect-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}