@import '../../../../styles.css';

.p-grid {
  display: flex;
  justify-content: space-between;
}

.p-col {
  flex: 1;
  margin: 0 10px;
}

.custom-button {
  margin: 5px;
  padding: 5px 10px;
  /* Smaller padding */
  border: none;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px;
  /* Smaller font size */
  line-height: 1.2;
  /* Adjust line height if needed */
}