@import '../../../../styles.css';

.p-grid {
  display: flex;
  justify-content: space-between;
}

.p-col {
  flex: 1;
  margin: 0 10px;
}

.filter-container>div {
  margin-bottom: 10px;
}

.filter-container label {
  display: block;
  margin-bottom: 5px;
}