<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Cancel" class= "p-button-text"
      (click)="cancelDelete()"></button>
    <button type="button" pButton icon="pi pi-check" label="Delete" class= "p-button-text"
      (click)="confirmDelete()"></button>
  </p-footer>
</p-confirmDialog>


<!-- Filter Form -->
<p-sidebar [(visible)]="display" position="left" style="width: 800px; max-width: 100vw;">
  <div *ngIf="showFilter" style="margin-top: 10px">
    <div class="filter-panel">
      <div class="filter-container">
        <div>
          <label for="deadlineRange">דדליין</label>
          <p-calendar id="deadlineRange" [(ngModel)]="filter.deadlineRange" selectionMode="range"></p-calendar>
        </div>
        <div>
          <label for="client">לקוח</label>
          <p-autoComplete id="client" [(ngModel)]="filter.client" [suggestions]="clientSuggestions"
            (completeMethod)="searchClients($event)" field="name">
            <ng-template let-client pTemplate="item">
              <div class="client-item">
                <app-icon-profile [userName]="client.name" [email]="client.email"></app-icon-profile>
                <span>{{ client.name }}</span>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
        <div>
          <label for="user">עובד</label>
          <p-autoComplete id="user" [(ngModel)]="filter.user" [suggestions]="userSuggestions"
            (completeMethod)="searchUsers($event)" field="userName">
            <ng-template let-user pTemplate="item">
              <div class="user-item">
                <app-icon-profile [userName]="user.userName" [email]="user.email"></app-icon-profile>
                <span>{{ user.userName }}</span>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>

        <!--  -->
        <div>
          <label for="taskName">משימה</label>
          <p-autoComplete id="taskName" [(ngModel)]="filter.task" [suggestions]="taskSuggestions"
            (completeMethod)="searchTasks($event)" field="taskName">
            <ng-template let-task pTemplate="item">
              <div class="task-item">
                <span>{{ task.taskName }}</span>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
        <div class="p-field">
          <label for="tags">תגיות</label>
          <p-multiSelect id="tags" [(ngModel)]="filter.tags" [options]="tagSuggestions" optionLabel="text"
            placeholder="Select Tags" display="chip" [showClear]="true">
          </p-multiSelect>
        </div>

        <button pButton label="Apply Filter" (click)="applyFilter()" class="apply-filter-button"></button>
      </div>
    </div>
  </div>
  <div *ngIf="filteredTasks.length === 0 && !filterFirstStatus">
    <p>אין תוצאות</p>
  </div>
</p-sidebar>
<!-- ///////////////////filter -->


<h2 *ngIf="tasks.length == 0">ללקוח זה אין משימות</h2>
<div class="p-grid">
  <div class="p-col-4" style="text-align: right; align-items: right">
    <div class="content-container" style="display: flex; flex-direction: column">
      <button pButton class= "p-button-text p-button-raised p-button-rounded" (click)="createTask()" type="button" icon="pi pi-plus"
        label="הוספת משימה"></button>

        <!-- <button pButton  class="buttons" type="text" (click)="display = true" (click)="toggleFilter()" icon="pi pi-filter"
        label="Filter"></button > -->

        <input *ngIf="tasks.length != 0" class="buttons" id="float-input" pInputText type="text"
          placeholder="חיפוש משימה" (change)="searchTask()" [(ngModel)]="searchTerm" />
    </div>
  </div>



  <div class="p-col-8" style="text-align: right; align-items: right">
    <div class="content-container">
      <div>
          <div *ngFor="let status of statuses">
            <p-panel *ngIf="categorizeTasks(status).length != 0" header="{{ status.name }}">
              <p-table *ngIf="categorizeTasks(status).length != 0"
                [value]="filteredTasks.length == 0 ? categorizeTasks(status) : filteredTasks ">
                <ng-template pTemplate="header">
                  <tr style="height: 50px">
                    <th style="width: auto; height: 50px">
                      שם
                      <i class="pi pi-caret-up" (click)="sortTasks('taskName', tasks, false)"
                        style="cursor: pointer; margin-left: 5px"></i>
                      <i class="pi pi-caret-down" (click)="sortTasks('taskName', tasks,true)"
                        style="cursor: pointer; margin-left: 5px"></i>
                    </th>
                    <th style="width: auto; height: 50px">
                      משוייך ל
                      <i class="pi pi-caret-up" (click)="sortTasks('assignedTo', tasks, false)"
                        style="cursor: pointer; margin-left: 5px"></i>
                      <i class="pi pi-caret-down" (click)="sortTasks('assignedTo', tasks,true)"
                        style="cursor: pointer; margin-left: 5px"></i>
                    </th>
                    <th style="width: auto">
                      טווח זמנים
                      <i class="pi pi-caret-up" (click)="sortTasks('dueDate', tasks, false)"
                        style="cursor: pointer; margin-left: 5px"></i>
                      <i class="pi pi-caret-down" (click)="sortTasks('dueDate', tasks,true)"
                        style="cursor: pointer; margin-left: 5px"></i>
                    </th>
                    <th style="width: auto">
                      תגיות
                      <i class="pi pi-caret-up" (click)="sortTasks('tags', tasks, false)"
                        style="cursor: pointer; margin-left: 5px"></i>
                      <i class="pi pi-caret-down" (click)="sortTasks('tags', tasks,true)"
                        style="cursor: pointer; margin-left: 5px"></i>
                    </th>
                    <th></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-task>
                  <tr (click)="selectCurrentTask(task)" [ngClass]="{ 'highlight': currentTask === task }">
                    <td>{{ task.taskName }}</td>
                    <td>
                      <div style="display: flex; align-items: center">
                        <ng-container *ngFor="let u of task.assignedTo">
                          <div style="margin-left: 10px">
                            <app-icon-profile [userName]="u.userName" [email]="u.email"></app-icon-profile>
                          </div>
                        </ng-container>
                      </div>
                    </td>

                    <td>{{ task.deadline | date : 'shortDate' }}</td>

                    <td>
                      <button *ngFor="let tag of task.tags; let i = index" [ngStyle]="{
                          backgroundColor: tag.color,
                          color: 'white'
                        }" class="custom-button">
                        {{ tag.text }}
                      </button>
                    </td>
                    <td><button *ngIf="currentTask === task" pButton
                        class="pi pi-pencil p-button-outlined p-button-rounded p-button-info"
                        (click)="editTask()"></button>
                      <button *ngIf="currentTask === task" pButton
                        class="pi pi-trash p-button-outlined p-button-rounded p-button-danger"
                        (click)="showConfirmation()"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
      </div>
    </div>
  </div>
</div>