<p-dialog header="המשימה שלך" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
    <span class="p-text-secondary block mb-5">צור וערוך את תת המשימה שלך</span>
    <div class="flex align-items-center gap-3 mb-3">
    
    <app-task [parent]= "parent" [taskId]="id" [create]="create"></app-task>
    </div>
    <!-- <div class="flex justify-content-end gap-2">
        <button pButton  label="ביטול" severity="secondary" />
        <button pButton  label="אישור" />
    </div> -->
</p-dialog>
