<div class="form-container">
  <div class="icon-container">
    <div class="year-icon">{{responseData.year}}</div>
  </div>
  <p-stepper dir="rtl" [(activeStep)]="active">
    <ng-container *ngFor="let stepNumber of stepNumbers">
      <p-stepperPanel>
        <ng-template pTemplate="header" let-click="click" let-index="index">
          <button class="p-button-text p-button-raised p-button-rounded" (click)="click.emit()">
            <span class="p-stepper-number"
              [ngClass]="{'beginned': isStepBeginned(stepNumber), 'completed': isStepComplete(stepNumber),'notstarted':! isStepBeginned(stepNumber)&&!isStepComplete(stepNumber),'current-step': active+1 === stepNumber}">{{stepNumber}}</span>
          </button>
        </ng-template>
        <ng-template pTemplate="content" let-nextCallback="nextCallback">
          <div class="flex flex-column h-12rem">
            <div
              class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
              <div *ngFor="let task of stepsByNumber[stepNumber]">
                <div class="checkbox-wrapper">
                  <label>
                    <input type="checkbox" [(ngModel)]="task.isCompleted" (change)="update(task)" />
                    {{ task.value }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
    </ng-container>
  </p-stepper>
  <button pButton (click)="submitChanges()" label="שלח שינויים"
    class="p-button-text p-button-raised p-button-rounded"></button>