<div class="master-container">
  <div class="card cart">
    <p-tabView [scrollable]="true">
      <p-tabPanel header="נתוני מנוי עיקרי">
        <div class="products">
          <div class="product">
            <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
            <div>
              <span *ngIf="thisPayment.mainPaymentDetails.sumForMonth">:סכום</span>
              <p>{{thisPayment.mainPaymentDetails.sumForMonth}}</p>
              <span *ngIf="thisPayment.mainPaymentDetails.frequency">:תדירות גביה</span>
              <p>{{thisPayment.mainPaymentDetails.frequency.name}}</p>
              <span *ngIf="thisPayment.mainPaymentDetails.dateStart">:תאריך התחלה</span>
              <p>{{thisPayment.mainPaymentDetails.dateStart | date: 'dd/MM/yy'}}</p>
              <span *ngIf="thisPayment.mainPaymentDetails.dateFinish">:תאריך סיום</span>
              <p>{{thisPayment.mainPaymentDetails.dateFinish | date: 'dd/MM/yy'}}</p>
              <span *ngIf="thisPayment.mainPaymentDetails.maxHours">:מקסימום שעות עבודה</span>
              <p>{{thisPayment.mainPaymentDetails.maxHours}}</p>
            </div>
            <div class="quantity">
            </div>
            <label class="price small">השירות: {{thisPayment.mainPaymentDetails.description}}</label>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel *ngFor="let details of thisPayment.morePaymentDetails" [header]="details.description">
        <div class="products">
          <div class="product">
            <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
            <div>
              <span *ngIf="details.sumForMonth">:סכום</span>
              <p>{{details.sumForMonth}}</p>
              <span *ngIf="details.frequency">:תדירות גביה</span>
              <p>{{details.frequency.name}}</p>
              <span *ngIf="thisPayment.mainPaymentDetails.dateStart">:תאריך התחלה</span>
              <p>{{details.dateStart | date: 'dd/MM/yy'}}</p>
              <span *ngIf="details.dateFinish">:תאריך סיום</span>
              <p>{{details.dateFinish | date: 'dd/MM/yy'}}</p>
              <span *ngIf="thisPayment.mainPaymentDetails.maxHours">:מקסימום שעות עבודה</span>
              <p>{{thisPayment.mainPaymentDetails.maxHours}}</p>
            </div>
            <div class="quantity">
            </div>
            <label class="price small">השירות: {{details.description}}</label>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div class="card coupons">
    <label class="title">מידע נוסף</label>
    <form class="form">
      <p>{{thisPayment.totalPayment}}</p>
      <span *ngIf="thisPayment.totalPayment">:סכום לגביה</span>

      <p>{{thisPayment.paymentMethod.name}}</p>
      <span *ngIf="thisPayment.paymentMethod">:צורת תשלום</span>

    </form>
  </div>

  <div class="card checkout" id="showContainer">
    <button class="checkout-btn" id="showBtn" (click)="setShow()">הצגת אפשרויות נוספות</button>
    <div class="checkout--footer">
      <p-tabView [scrollable]="true" *ngIf="show">
        <p-tabPanel header="הסטורית תשלומים">
          <div class="products">
            <div class="product">
              <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
              <div>
                <app-billing-history  (submitEvent)="handle()"></app-billing-history>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="הסטורית מנויים">
          <div class="products">
            <div class="product">
              <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
              <div>
                <app-payment-details-history (submitEvent)="handle()"></app-payment-details-history>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="הוספת תשלום">
          <div class="products">
            <div class="product">
              <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
              <div>
                <app-add-billing (submitEvent)="handle()"></app-add-billing>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="הוספת מנוי משני">
          <div class="products">
            <div class="product">
              <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
              <div>
                <app-add-more-payment-details (submitEvent)="handle()"></app-add-more-payment-details>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="החלפת המנוי העיקרי">
          <div class="products">
            <div class="product">
              <svg fill="none" viewBox="0 0 60 60" height="60" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
              <div>
                <app-change-main-payment (submitEvent)="handle()"></app-change-main-payment>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>

    <router-outlet></router-outlet>

  </div>